.backgroud{
    background: url("/images/bibliotecaBackGroud.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container-login{
    margin: 120px;
}

.popins-20-white{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.popins-20-blue{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #343A57;
}

.popins-20-gray{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #3b3d40;
}

.popins-20-green{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #6AC259;
}

.center{
    text-align: center;
}

.popins-14-white{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.popins-14-blue{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #343A57;
}

.popins-14-gray{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #d7d8da;
}

.popins-14-green{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #6AC259;
}

.opacity06{
    opacity: 0.3;
}

.input{
    border-radius: 25px;
    width: 300px;
    background-color: rgba(255,255,255, 0.3);
    border-style: none;
}

.blue-border{
    border-color: #0080FF;
}

.border4{
    border-width: 4px;
}

border3{
    border-width: 3px;
}

a{
    text-decoration: none !important;
}

.btn-blue-sm{
    border-radius: 25px;
    width: 200px;
    border-color: #0080FF;
    border-width: 2px;
    border-style: solid;
}

.btn-blue-lborder{
    border-radius: 25px;
    width: 400px;
    border-color: #0080FF;
    border-width: 2px;
    border-style: solid;
}

.btn-blue-mborder{
    border-radius: 25px;
    width: 300px;
    border-color: #0080FF;
    border-width: 2px;
    border-style: solid;
}

.btn-blue-m{
    border-radius: 25px;
    width: 300px;
    background-color: #0080FF;
}

.btn-green-sm{
    border-radius: 25px;
    width: 200px;
    background-color: #6AC259;
}

.btn-green-l{
    border-radius: 25px;
    width: 400px;
    background-color: #6AC259;
}

.btn-green-m{
    border-radius: 25px;
    width: 300px;
    background-color: #6AC259;
}

.teeth-img{
    height: 60px;
}

.credit{
    display: none;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #6AC259;
}

.case-img{
    height: 200px;
    border-radius: 25px;
    border-color: #0080FF;
    border-width: 2px;
    border-style: solid;

}

.case-img-m{
    height: 35rem;
    border-radius: 25px;
    border-color: #0080FF;
    border-width: 2px;
    border-style: solid;
}

.fa-arrow-circle-left{
    color: #0080FF;
}

.fa-arrow-circle-right{
    color: #0080FF;
}

.fa-chevron-right {
    color: #343A57;
}

.fa-chevron-left {
    color: #343A57;
}

.inpt-bttm-border{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #0080FF;
}

.btn-no-border{
    border: none;
    background:none ;
}

.btn-no-border:focus { outline: none; }

.main-content{
    min-height: 20rem;
    position: relative;
    margin-left: 6rem;
    margin-right: 6rem;
}

.btm-right-corner{
    position: absolute;
    right: 100px;
}

.btm-left-corner{
    position: absolute;
    left: 100px;
}

.table th{
    text-align: center;
}

.div-300{
    min-height: 300px;
    position: relative;
}

.div-800{
    min-height: 800px;
    position: relative;
}

.div-600{
    min-height: 600px;
    position: relative;
}

.div-700{
    min-height: 700px;
    position: relative;
}

.fa-check-circle{
    color: #6AC259;
}

.fa-times-circle{
    color: #fb3838d1;
}

.carousel-control-next, .carousel-control-prev{
    width: 0%;
}

.header{
    margin-top: 40px;
    margin-bottom: 40px;
}

.width-500{
    width: 500px;
}

.width-520{
    width: 520px;
}

.width-30{
    width:30px;
}

.width-40{
    width:40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.card-width-18{
    width: 18rem;
}

.card:hover .container .hover-blue {
    color: #0080FF;
}

.fa-plus-circle,
.fa-edit,
.fa-search,
.fa-minus-circle{
    color: #d7d8da
}

/* ESTILOS STEP ADMIN */
.first-step-col {
    border-radius: 5px 0 0 5px;
    width: 300px;
    border-color: #c0c0c0;
    border-width: 1px;
    border-style: solid;
    border-right: none;

}

.last-step-col {
    border-radius: 0 5px 5px 0;
    width: 300px;
    border-color: #c0c0c0;
    border-width: 1px;
    border-style: solid;

}

.step-col {
    width: 300px;
    border-color: #c0c0c0;
    border-width: 1px;
    border-style: solid;
    border-right: none;
}

.step-height-6 {
    height: 6rem;
}

.fa-fire,
.fa-stethoscope,
.fa-syringe,
.fa-bolt,
.fa-notes-medical,
.fa-book {
    color: #d7d8da;
}

.selected-step {
    height: 107px;
    margin-top: -6px;
    padding-top: 7px;
    border-left: 6px solid #0080FF !important;
    border-right: 6px solid #0080FF !important;
    border-top: 3px solid #0080FF !important;
    border-bottom: 3px solid #0080FF !important;
}

.selected-step .container .fas {
    color: #6AC259;
}

.selected-step .container .fas .popins-14-gray {
    color: #6AC259;
}
/* / ESTILOS STEP ADMIN */

.width-25-rem{
    width: 25rem;
}

.width-25-em{
    width: 25em;
}

.width-9-em{
    width: 9em;
}

.height-9-rem {
    height: 9rem;
}

.width-20-em{
    width: 20em;
}

.height-10-em {
    height: 10em;
}

.height-18-em {
    height: 18em;
}

.height-20-em {
    height: 20em;
}

textarea {
    resize: none;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.hidden {
    visibility: hidden;
}
/* CSS SLIDER */
.carousel-indicators .active {
    background-color: #0080FF;
}

.fa-circle {
    color: #cecece
}

.carousel-indicators li {
    background-color: rgba(175, 162, 171, 0.5);
}

.width-25-percent {
    width: 25%;
}
/* CSS SLIDER */

.height-40-em {
    min-height: 40em;
}

.no-padding {
    padding: 0px;
}

.fa-calendar-check{
    color: #6AC259;
}

.fa-calendar-times{
    color: #fb3838d1;
}

.hard-level {
    color: #fb3838d1
}

.medium-level {
    color: #ffbf00d1;
}

.basic-level {
    color: #0080FF;
}

.fa-question-circle{
    color: #ffd24de0;
}

.star-size {
    height: 4rem;
}

.doctor-size {
    height: 10rem;
}