<script type="text/javascript">
    //------ GLOBALS ----------

    var globalIdPatientCase = 0;
    var XRAY_ROUTE = "xray";
    var HISTORY_ROUTE = "history";
    var PAIN_ROUTE = "pain";
    var CLREVIEW_ROUTE = "clreview";
    var PERIATEST_ROUTE = "periaTest";
    var CLTESTS_ROUTE = "cltests";
    var DIAGNOSIS_ROUTE = "diag";

    //------ / GLOBALS ----------

    document.addEventListener("DOMContentLoaded", function() {
        var elements = document.getElementsByTagName("INPUT");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function(e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("Necesitamos una respuesta =(");
                    swalNeedAnswers()
                }
            };
            elements[i].oninput = function(e) {
                e.target.setCustomValidity("");
            };
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        var elements = document.getElementsByTagName("TEXTAREA");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function(e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("Necesitamos una respuesta =(");
                    swalNeedAnswers()
                }
            };
            elements[i].oninput = function(e) {
                e.target.setCustomValidity("");
            };
        }
    });

    function swalNeedAnswers(){
        swal({
            title: "Ooopps",
            text: "Nos hacen falta respuestas,revisa que todo esté completo",
            type: "warning"
        });
    }

    function setSelectedStep(jqueryElement){
        jqueryElement.classList.add("selected-step");
    }

    function removeAllSelectedStepClass(){
        var steps = $(".step");
        for(var i = 0 ; i < steps.length; i ++){
            steps[i].classList.remove("selected-step");
        }
    }

    $(".step").on("click",function(){
        removeAllSelectedStepClass();
        setSelectedStep(this);
        showAccordion(this);
    });


    function showAccordion(stepElement){
        var accordions = $(".dev_accordion");
        var desiredAccordionClass = stepElement.getAttribute("data-accordion");
        var desiredAccordion = document.querySelector(desiredAccordionClass);
        for(var i = 0 ; i < accordions.length; i ++){
            if(desiredAccordion == accordions[i]) {
                accordions[i].classList.add("display-block");
                accordions[i].classList.remove("display-none");
            }else {
                accordions[i].classList.add("display-none");
                accordions[i].classList.remove("display-block");
            }
        }
    }

    function noAutoScrollOnCarousel(){
        $(".carousel").carousel({
            interval:false
        });
    }

    function getRoadDescription(route){
        var element = $(".dev_description_"+route);
        var jsonObject = new Object();

        jsonObject.description = element.val();
        jsonObject.idCase = globalIdPatientCase;
        jsonObject.roadCode = element.attr("data-road");

        return jsonObject;
    }

    function ajaxCreateRoadDescription(jsonAnswer,idCheck,idSubmit){
        $.ajax({
            url: '{{ path('AppBundle_admin_adding_case_by_road_description') }}',
            method: 'POST',
            data:jsonAnswer,
            dataType: 'json',
            success: function (result) {
                console.log(result);

                //disableElementById(idSubmit);
                //showDoneIconById(idCheck);
                swalSavedAnswers();


            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                console.log(status);
                console.log(error);
                swal({'title': 'Oooops!',
                    'text': err.message,
                    'type': 'error'});

            },
            complete: function(xhr,status){
                console.log(status);
                //$(".dev_congelar").fadeOut('slow');
            }
        });
    }

    function getInformativeAnswersByRoute(route,resultingArray){
        var elements = $(".dev_info_"+route);
        for(var i = 0 ; i < elements.length ; i++){
            if(elements[i].type == "radio"){
                handleRadioAnswer(elements[i],resultingArray, globalIdPatientCase);
            }
            else if(elements[i].type == "textarea"){
                createInformativeAnswer(elements[i], resultingArray, globalIdPatientCase);
            }
        }
    }

    function handleRadioAnswer(element,resultingArray,idPatientCase){
        if(element.checked == true){
            createInformativeAnswer(element,resultingArray,idPatientCase);

        }
    }

    function createInformativeAnswer(element, resultingArray,idPatientCase){
        var informativeAnswer = new Object();
        informativeAnswer.idPatienetCase = idPatientCase;
        informativeAnswer.idQuestion = element.getAttribute("data-question");
        informativeAnswer.detail = element.value;
        resultingArray.push(informativeAnswer);
    }

    function ajaxCreatingInformativeAnswers(jsonAnswers,idCheck,idSubmit){
        $.ajax({
            url: '{{ path('AppBundle_admin_adding_informative_answer') }}',
            method: 'POST',
            data:jsonAnswers,
            dataType: 'json',
            success: function (result) {
                console.log(result);

                //disableElementById(idSubmit);
                showDoneIconById(idCheck);
                swalSavedAnswers();


            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                console.log(status);
                console.log(error);
                swal({'title': 'Oooops!',
                        'text': err.message,
                        'type': 'error'});

            },
            complete: function(xhr,status){
                console.log(status);
                //$(".dev_congelar").fadeOut('slow');
            }
        });
    }

    function disableElementById(id){
        $("#"+id).prop( "disabled", true );
    }

    function showDoneIconById(id) {
        var element = $("#" + id);
        element.css("visibility","visible");

    }

    function swalSavedAnswers(){
        swal({"title":"Listo!",
                "text":"Hemos guardado tus respuestas",
                "type":"success"});
    }

    //---- GETTING INFORMATIVE ANSWERS FROM PAIN -----

    $("#Pain").submit(function(){
        var idCheck = "checkPain";
        var idSubmit = "painSubmit";
        var informativeAnswers = getAllAnswersFromPain();
        console.log(informativeAnswers);
        ajaxCreatingInformativeAnswers(informativeAnswers,idCheck,idSubmit);
        return false;
    });

    function getAllAnswersFromPain(){
        var resultingArray = new Array();
        getInformativeAnswersByRoute(PAIN_ROUTE, resultingArray);
        var jsonAnswers = JSON.stringify(resultingArray);
        return jsonAnswers;
    }
    //---- GETTING INFORMATIVE ANSWERS FROM PAIN -----

    //---- GETTING INFORMATIVE ANSWERS FROM CLREVIEW -----

    $("#clReviewDescription").submit(function(){
        var jsonObject = getRoadDescription(CLREVIEW_ROUTE);
        var jsonString = JSON.stringify(jsonObject);
        ajaxCreateRoadDescription(jsonString,"checkClReviewDescription", "clReviewDescriptionSubmit");

        return false;
    });

    $("#ClReview").submit(function(){
        var informativeAnswers = getAllAnswersFromClReview();
        ajaxCreatingInformativeAnswers(informativeAnswers,"checkClReview","clReviewSubmit");
        console.log(informativeAnswers);

        return false;
    });

    function getAllAnswersFromClReview(){
        var resultingArray = new Array();
        getInformativeAnswersByRoute(CLREVIEW_ROUTE, resultingArray);

        var jsonAnswers = JSON.stringify(resultingArray);
        return jsonAnswers;
    }
    //---- GETTING INFORMATIVE ANSWERS FROM CLREVIEW -----

    //---- GETTING INFORMATIVE ANSWERS FROM PERIAPICAL TESTS -----

    $("#PeriapicalTest").submit(function(){
        var informativeAnswers = getAllAnswersFromPeriaTest();
        ajaxCreatingInformativeAnswers(informativeAnswers,"checkPeriaTest","periapicalTestubmit");
        console.log(informativeAnswers);
        return false;
    });

    function getAllAnswersFromPeriaTest(){
        var resultingArray = new Array();
        getInformativeAnswersByRoute(PERIATEST_ROUTE, resultingArray);

        var jsonAnswers = JSON.stringify(resultingArray);

        return jsonAnswers;
    }


    //---- GETTING INFORMATIVE ANSWERS FROM PERIAPICAL TESTS -----

    //---- GETTING INFORMATIVE ANSWERS FROM XRAY -----

    $("#IQXRay").submit(function(){
        var informativeAnswers = getAllAnswersFromXray();
        ajaxCreatingInformativeAnswers(informativeAnswers,"checkXRay","xraySubmit");
        return false;
    });

    function getAllAnswersFromXray(){
        var resultingArray = new Array();
        getInformativeAnswersByRoute(XRAY_ROUTE, resultingArray);

        var jsonAnswers = JSON.stringify(resultingArray);
        return jsonAnswers;
    }


    //---- / GETTING INFORMATIVE ANSWERS FROM XRAY -----

    //---- GETTING INFORMATIVE ANSWERS FROM CREATING CASE ------

    $("#History").submit(function(){
        var informativeAnswers = getAllAnswersFromHistory();
        console.log(informativeAnswers);
        ajaxCreatingCaseAndHistory(informativeAnswers);

        return false;
    });

    function getAllAnswersFromHistory(){
        var resultArray = new Array();
        getInformativeAnswersByRoute(HISTORY_ROUTE,resultArray);

        var jsonAnswers = JSON.stringify(resultArray);
        return jsonAnswers;
    }

    function ajaxCreatingCaseAndHistory(jsonAnswers){
        $.ajax({
            url: '{{ path('AppBundle_admin_creating_case_and_history') }}',
            method: 'POST',
            data:jsonAnswers,
            dataType: 'json',
            success: function (result) {
                console.log(result);
                globalIdPatientCase = result.Response;
                console.log("globalCase => " + globalIdPatientCase);

                disableElementById("historySubmit");
                showDoneIconById("checkHistory");
                swalSavedAnswers();

            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                console.log(status);
                console.log(error);
                swal({'title': 'Oooops!',
                    'text': err.message,
                    'type': 'error'});

            },
            complete: function(xhr,status){
                console.log(status);
                //$(".dev_congelar").fadeOut('slow');
            }
        });
    }

    //---- / GETTING INFORMATIVE ANSWERS FROM CREATING CASE ------


    //---- PRE ANALYSIS ----------

    $(".dev_preanalysis").on("click",function(){
        var road = this.getAttribute("data-road");
        var teethQuantity = $(".dev_"+road).val();
        var jsonObject = new Object()

        if(teethQuantity >= 0) {
            jsonObject.code = road;
            jsonObject.teethQuantity = teethQuantity;
            //console.log(jsonObject);
        }
        var jsonString = JSON.stringify(jsonObject);

        swalShowAnalysisTwig(jsonString,road);
    });

    function ajaxShowAnalysisTwig(jsonString, resolve, road){
        $.ajax({
            url: '{{ path('AppBundle_show_analysis_admin_questions') }}',
            method: 'POST',
            data:jsonString,
            dataType: 'html',
            success: function (result) {
                $(".dev_analysis_twig_"+road).html(result);
                resolve();
            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                console.log(status);
                console.log(error);
                swal({'title': 'Oooops!',
                    'text': err.message,
                    'type': 'error'});

            },
            complete: function(xhr,status){
                //console.log(status);
                //$(".dev_congelar").fadeOut('slow');
            }
        });
    }

    function swalShowAnalysisTwig(jsonString,road){
        swal({
            title:"Estamos preparando todo",
            showLoaderOnConfirm: true,
            preConfirm: function(){
                swal.showLoading();
                return new Promise(function(resolve){
                    ajaxShowAnalysisTwig(jsonString,resolve,road);
                });
            },
        });
    }
    //---- / PRE ANALYSIS ----------

    //-- GETING ANALYSIS ANSWERS----


    function getRubricAnswers(idCase,road){
        var criteriaArray = new Array();
        getRubricAnswersFromToothQuestions(idCase,criteriaArray,road);
        getRubricAnswerFromGeneralQuestions(idCase,criteriaArray,road);
        if(criteriaArray.length == 0){
            showNoAnswersSWAL();
            return false
        }
        var jsonCriteria = JSON.stringify(criteriaArray);
        return jsonCriteria;
    }

    function getRubricAnswersFromToothQuestions(idCase,criteriaArray,road){
        var elements =  $(".dev_tooth_answer_"+road);
        for( var i = 0; i < elements.length ; i++){
            if( (elements[i].type == "radio" || elements[i].type == "checkbox") && elements[i].checked == true) {
                if (elements[i].getAttribute("data-type") == "boolean" && elements[i].value == "no") {
                    continue;
                }
                if(elements[i].value == "ninguna"){
                    continue;
                }
                var criterionAnswer = new Object();
                var toothIndex = elements[i].getAttribute("data-tooth");
                criterionAnswer.idCriterionQuestion = elements[i].getAttribute("data-question");
                criterionAnswer.answer = getToothNumberByIndex(toothIndex,road);
                criterionAnswer.idPatientCase = idCase;
                criteriaArray.push(criterionAnswer);
            }
        }
        return true;
    }

    function getRubricAnswerFromGeneralQuestions(idcase,criteriaArray,road){
        var elements = $(".dev_general_"+road);
        for(var i = 0 ; i < elements.length ; i++){
            var answer ="";
            if(elements[i].type == "radio" && elements[i].checked == true){
                answer = elements[i].value;
            }else if(elements[i].type != "radio"){
                answer = elements[i].value;
            }
            if(answer != "") {
                var criterionAnswer = new Object();
                criterionAnswer.idCriterionQuestion = elements[i].getAttribute("data-question");
                criterionAnswer.answer = answer;
                criterionAnswer.idPatientCase = idcase;
                criteriaArray.push(criterionAnswer);
            }
        }
        return true;
    }

    function getToothNumberByIndex(i, road){
        return $('input[data-tooth-index-'+road+'="' + i + '"]').val()
    }

    function showNoAnswersSWAL(){
        swal({
            type:'warning',
            title:'No tienes respuestas',
            text: 'Recuerda solucionar las preguntas'
        });
    }


    function ajaxRegisterCriterionAnswers(jsonString,road){
        $.ajax({
            url: '{{ path('AppBundle_admin_add_criterion_answers') }}',
            method: 'POST',
            data:jsonString,
            dataType: 'json',
            success: function (result) {
                console.log(result);
                disableElementById("submit_analisis_"+road);
                swalSavedAnswers();
            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                console.log(status);
                console.log(error);
                swal({'title': 'Oooops!',
                    'text': err.message,
                    'type': 'error'});

            },
            complete: function(xhr,status){
                //console.log(status);
                //$(".dev_congelar").fadeOut('slow');
            }
        });

    }

    //-- / GETING ANALYSIS ANSWERS----


    //---- PRE IMAGES ------
    $(".dev_preimages").on("click",function(){
        var road = this.getAttribute("data-road");
        var teethQuantity = $(".dev_images_"+road).val();
        var jsonObject = new Object();

        jsonObject.teethQuantity = teethQuantity;
        jsonObject.road = road;

        var jsonString = JSON.stringify(jsonObject);
        ajaxShowUploadImagesTwig(jsonString,road);
    });


    function ajaxShowUploadImagesTwig(jsonString,road) {
        $.ajax({
            url: '{{ path('AppBundle_admin_show_upload_images_twig') }}',
            method: 'POST',
            data:jsonString,
            dataType: 'html',
            success: function (result) {
                //console.log(result);
                $(".dev_images_twig_"+road).html(result);
            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                console.log(status);
                console.log(error);
                swal({'title': 'Oooops!',
                    'text': err.message,
                    'type': 'error'});

            },
            complete: function(xhr,status){
                //console.log(status);
                //$(".dev_congelar").fadeOut('slow');
            }
        });
    }

    //---- / PRE IMAGES ------

    //---- PRE CLTEST -------

    $(".dev_precltest").on("click", function(){
        var teethQuantity = $(".dev_cltest_teeth").val();
        var jsonObject = new Object();
        jsonObject.teethQuantity = teethQuantity;
        var jsonString = JSON.stringify(jsonObject);
        ajaxShowSenseTestTwig(jsonString);
    });

    function ajaxShowSenseTestTwig(jsonString) {
        $.ajax({
            url: '{{ path('AppBundle_admin_show_sense_test_twig') }}',
            method: 'POST',
            data:jsonString,
            dataType: 'html',
            success: function (result) {
                //console.log(result);
                $(".dev_sense_twig").html(result);
            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                console.log(status);
                console.log(error);
                swal({'title': 'Oooops!',
                    'text': err.message,
                    'type': 'error'});

            },
            complete: function(xhr,status){
                //console.log(status);
                //$(".dev_congelar").fadeOut('slow');
            }
        });
    }
    //---- / PRE CLTEST -------

</script>