<script type="text/javascript">
    function showPreAnalysisSwal(code){
        swal({
            title:"¿Cuántos dientes vas a analizar?",
            text:"Si no hay dientes a analizar pudes poner 0",
            type: 'question',
            confirmButtonText: '¡¡Continua con el análisis!!',
            confirmButtonColor: '#0080FF',
            input: "number",
            inputAttributes: {min:"0"},
            confirmButtonClass: "popins-20-white"
        }).then(function(teethQuantity){
            var redirection = getAnalysisRoute(code,teethQuantity);
            window.location.href = redirection;
        });
    }

    {% if idCase is defined %}
    function getAnalysisRoute(code,teethQuantity){
        var redirection ;
        if(code == "PAIN"){
            redirection = '{{ path('AppBundle_show_rubric',{'rubric':'PAIN'}) }}';
        }else if(code == "CLREVIEW"){
            redirection = '{{ path('AppBundle_show_rubric',{'rubric':'CLREVIEW'}) }}';
        }else if(code == "CLTESTS"){
            redirection = '{{ path('AppBundle_show_rubric',{'rubric':'CLTESTS'}) }}';
        }else if(code == "XRAY"){
            redirection = '{{ path('AppBundle_show_rubric',{'rubric':'XRAY'}) }}';
        }else if(code == "DIAG"){
            redirection = '{{ path('AppBundle_show_road',{'code':'DIAG'}) }}';
        }
        redirection+='&idCase='+{{ idCase }};
        redirection+='&teethQuantity='+teethQuantity;
        return redirection;
    }
    {% endif %}

    function showSelectedSteps(selectedSteps){
        var stepElements = $(".step");

        for(var i = 0  ; i < selectedSteps ; i++){
            stepElements[i].classList.add("selected-step");
        }
    }

    function showRulesSwal(){
        swal.setDefaults({
            confirmButtonText: 'Next &rarr;',
            animation: true,
            progressSteps: ['1', '2','3','4','5'],
            customClass: "popins-14-blue",
            allowEscapeKey: false,
            allowOutsideClick:false
        });

        var steps = [
            {
                title: 'Reglas',
                text: 'Da un vistazo a las reglas'

            },
            {
                title: 'Regla 1',
                text: 'Te mostraremos 10 casos'

            },
            {
                title: 'Regla 2',
                text: 'Tu primer caso tendra una dificultad básica'

            },
            {
                title: 'Regla 3',
                html: 'Para subir de dificultad necesitas aprobar <strong class="popins-20-green">3 casos seguidos</strong>.'

            },
            {
                title: 'Regla 4',
                html: 'Solo puedes perder <strong class="popins-20-green">4 casos</strong>.'

            },
        ];

        swal.queue(steps).then(function() {
            swal({
                title: 'Listo!',
                confirmButtonText: 'Continúa donde estabas!',
                showCancelButton: false
            });
        }).finally(function() {
            swal.resetDefaults();
        })
    }

    $(".fa-question-circle").on("click",function() {
        showRulesSwal();
    });

</script>