{% extends 'base.html.twig' %}

{% block title %}
    Crear un caso
{% endblock title %}

{% block body %}

    <div class="header">
        <div class="container d-flex justify-content-center">
            <label class="btn popins-20-blue btn-blue-mborder">Crear Caso</label>
        </div>
    </div>

    <div class="main-content">
        <!-- Barra de pasos -->

        {% include asset('admin/stepBar.html.twig') %}

        <!-- / Barra de pasos -->

        <!-- Acordion crear caso e historia -->
        <div class="display-block dev_accordion historyAccordion">
            {% include asset('admin/accordion/createCaseAndHistoryAccordion.html.twig') %}
        </div>
        <!-- / Acordion crear caso e historia -->

        <!-- Acordion ruta del dolor -->
        <div class="display-none dev_accordion painAccordion">
            {% include asset('admin/accordion/painAccordion.html.twig') %}
        </div>
        <!-- / Acordion ruta del dolor -->

        <!-- Acordion ruta examen clínico -->
        <div class="display-none dev_accordion clReviewAccordion">
            {% include asset('admin/accordion/clinicalReviewAccordion.html.twig') %}
        </div>
        <!-- / Acordion ruta examen clínico -->

        <!-- Acordion ruta pruebas clínicas -->
        <div class="display-none dev_accordion clTestsAccordion">
            {% include asset('admin/accordion/clinicalTestsAccordion.html.twig') %}
        </div>
        <!-- / Acordion ruta pruebas clínicas -->

        <!-- Acordion ruta Rayos X -->
        <div class="display-none dev_accordion xrayAccordion">
            {% include asset('admin/accordion/xRayAccordion.html.twig') %}
        </div>
        <!-- / Acordion ruta Rayos X  -->

        <!-- Acordion ruta Diagnostico -->
        <div class="display-none dev_accordion diagnosisAccordion">
            {% include asset('admin/accordion/diagnosisAccordion.html.twig') %}
        </div>
        <!-- / Acordion ruta Diagnostico -->

    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% include asset('utils/adminUtils.html.twig') %}
    <script type="text/javascript">
        noAutoScrollOnCarousel();

        $(document).ready(function () {

        });
    </script>

{% endblock javascripts %}