{% extends 'base.html.twig' %}

{% block title %}
    Home admin
{% endblock title %}

{% block body %}
    <div class="header">
        <div class="container">
            <div class="container d-flex justify-content-center">
                <label class="btn popins-20-blue btn-blue-mborder"> Dashboard</label>
            </div>
        </div>
    </div>

    <div class="main-content d-flex align-items-center justify-content-center">
        <!-- SECCIÓN DE TARJETAS -->
        <div class="row">

            <!-- COLUMNA -->
            <div class="col m-2">
                <!-- TARJETA -->
                <div class="card card-width-18">
                    <div class="container center mt-3">
                        <i class="fas fa-plus-circle fa-7x hover-blue"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title popins-20-green">Crear un caso</h5>
                        <p class="card-text popins-14-blue">En esta sección puedes crear nuevos casos.</p>
                        <div class="container center">
                            <a href="{{ path('AppBundle_admin_create_case') }}" class="btn btn-primary">¡Quiero este!</a>
                        </div>
                    </div>
                </div>
                <!-- / TARJETA -->
            </div>
            <!-- / COLUMNA -->

            <!-- COLUMNA -->
            <div class="col m-2">
                <!-- TARJETA -->
                <div class="card card-width-18">
                    <div class="container center mt-3">
                        <i class="fas fa-edit fa-7x hover-blue"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title popins-20-green">Edita un caso</h5>
                        <p class="card-text popins-14-blue">En esta sección puedes editar un caso.</p>
                        <div class="container center">
                            <a href="#" class="btn btn-primary">¡Quiero este!</a>
                        </div>
                    </div>
                </div>
                <!-- / TARJETA -->
            </div>
            <!-- / COLUMNA -->

            <!-- COLUMNA -->
            <div class="col m-2">
                <!-- TARJETA -->
                <div class="card card-width-18">
                    <div class="container center mt-3">
                        <i class="fas fa-search fa-7x hover-blue"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title popins-20-green">Buscar un caso</h5>
                        <p class="card-text popins-14-blue">En esta sección puedes ver la información completa de un caso.</p>
                        <div class="container center">
                            <a href="#" class="btn btn-primary">¡Quiero este!</a>
                        </div>
                    </div>
                </div>
                <!-- / TARJETA -->
            </div>
            <!-- / COLUMNA -->

            <!-- COLUMNA -->
            <div class="col m-2">
                <!-- TARJETA -->
                <div class="card card-width-18">
                    <div class="container center mt-3">
                        <i class="fas fa-minus-circle fa-7x hover-blue"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title popins-20-green">Elimina un caso</h5>
                        <p class="card-text popins-14-blue">En esta sección puedes eliminar un caso.</p>
                        <div class="container center">
                            <a href="#" class="btn btn-primary">¡Quiero este!</a>
                        </div>
                    </div>
                </div>
                <!-- / TARJETA -->
            </div>
            <!-- / COLUMNA -->

        </div>
        <!-- / SECCIÓN DE TARJETAS -->
    </div>

{% endblock body %}