<div class="row">
    <div class="col first-step-col step-height-6 step selected-step" data-accordion=".historyAccordion">
        <div class="container center mt-2">
            <i class="fas fa-book fa-3x">
                <p class="popins-14-gray mt-1">
                    Historia
                </p>
            </i>
        </div>
    </div>
    <div class="col step-col step-height-6 step" data-accordion=".painAccordion">
        <div class="container center mt-2">
            <i class="fas fa-fire fa-3x">
                <p class="popins-14-gray mt-1">
                    Dolor
                </p>
            </i>
        </div>
    </div>
    <div class="col step-col step-height-6 step" data-accordion=".clReviewAccordion">
        <div class="container center mt-2">
            <i class="fas fa-stethoscope fa-3x">
                <p class="popins-14-gray mt-1">
                    Examen clínico
                </p>
            </i>
        </div>
    </div>
    <div class="col step-col step-height-6 step" data-accordion=".clTestsAccordion">
        <div class="container center mt-2">
            <i class="fas fa-syringe fa-3x">
                <p class="popins-14-gray mt-1">
                    Pruebas clínicas
                </p>
            </i>
        </div>
    </div>
    <div class="col step-col step-height-6 step" data-accordion=".xrayAccordion">
        <div class="container center mt-2">
            <i class="fas fa-bolt fa-3x">
                <p class="popins-14-gray mt-1">
                    Examen radiográfico
                </p>
            </i>
        </div>
    </div>
    <div class="col last-step-col step-height-6 step" data-accordion=".diagnosisAccordion">
        <div class="container center mt-2">
            <i class="fas fa-notes-medical fa-3x">
                <p class="popins-14-gray mt-1">
                    Diagnóstico
                </p>
            </i>
        </div>
    </div>
</div>