{% extends 'base.html.twig' %}

{% block title %}
    Home admin
{% endblock title %}

{% block body %}


    <label class="popins-20-blue"> Selecciona el archivo que vas ha subir</label>
    <input type="file" class="dev_file">

        <button type="submit" class="dev_submit_file"> subir Img</button>



{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(".dev_submit_file").click(function(){

            var files = $(".dev_file").prop("files")[0];
            console.log(files);
            var url = "{{ path('AppBundle_admin_test_file') }}";
            var formData = new FormData();
            formData.append("files",files);
            $.ajax({
                url: url,
                method: 'post',
                data: formData,
                contentType: false,
                processData: false,
                dataType:"json",
                success: function (result) {
                    console.log(result);



                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    console.log(status);
                    console.log(error);
                    alert(err.Message);

                },
                complete: function(xhr,status){
                    console.log(status);
                    //$(".dev_congelar").fadeOut('slow');
                }
            });


        });


    </script>

{% endblock javascripts %}