<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-1 m-sm-2">
            <img class="star-size" src="{{ asset('images/star.png') }}">
        </div>

    </div>
</div>

<div class="container d-flex justify-content-center mt-5">
    <img class="doctor-size" src="{{ asset('images/employee.png') }}">
</div>

<div class="container mt-5">
    <p class="popins-20-blue center">
        Lo sentimos no has conseguido un cargo ya que has quedado en un niven básico.
    </p>

    <p class="popins-20-blue center">
        Animate aún tienes otra oportuidad así que vuelve a intentar!
    </p>

    <div class="row">
        <div class="col m-2 d-flex justify-content-center mt-5">
            <a class="btn btn-green-m popins-20-white" href="{{ path('AppBundle_user_home') }}">Regresar al inicio</a>
        </div>

        <div class="col m-2 d-flex justify-content-center mt-5">
            <a class="btn btn-green-m popins-20-white" href="{{ path('AppBundle_student_logout') }}">Salir</a>
        </div>
    </div>
</div>