<div class="accordion" id="accordionClTests">
    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingOneClTests">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOneClTests" aria-expanded="true" aria-controls="collapseOneClTests">
                    Preguntas informativas pruebas periapicales
                </button>
                <span class="far fa-check-circle fa-lg hidden" id="checkPeriaTest" aria-hidden="true"></span>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseOneClTests" class="collapse show" aria-labelledby="headingOneClTests" data-parent="#accordionClTests">
            <div class="card-body">
                <!-- Preguntas informativas -->
                {% include asset('admin/informative/informativeQuestionsPeriapicalTest.html.twig') %}
                <!-- / Preguntas informativas -->

            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->

    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingTwoClTests">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoClTests" aria-expanded="false" aria-controls="collapseTwoClTests">
                    Preguntas informativas pruebas de sensibilidad
                </button>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseTwoClTests" class="collapse" aria-labelledby="headingTwoClTests" data-parent="#accordionClTests">
            <div class="card-body">
                <!-- Preguntas informativas -->
                {% include asset('admin/informative/preInformativeSenseTest.html.twig') %}
                <!-- / Preguntas informativas -->
                <div class="dev_sense_twig">

                </div>
            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->

    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingThreeClTests">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThreeClTests" aria-expanded="true" aria-controls="collapseThreeClTests">
                    Preguntas de análisis
                </button>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseThreeClTests" class="collapse" aria-labelledby="headingThreelReview" data-parent="#accordionClTests">
            <div class="card-body">
                <!-- Preguntas análisis -->
                {% include asset('admin/analysis/preAnalysis.html.twig') with {'road':'CLTESTS'} %}
                <!-- / Preguntas análisis -->

                <div class="dev_analysis_twig_CLTESTS">

                </div>

            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->

</div>