<div class="accordion" id="accordionClReview">

    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingZeroClReview">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseZeroClReview" aria-expanded="true" aria-controls="collapseZeroClReview">
                    Imagenes del examen clínico
                </button>
                <span class="far fa-check-circle fa-lg hidden" id="checkClReviewDescription" aria-hidden="true"></span>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseZeroClReview" class="collapse show" aria-labelledby="headingZeroClReview" data-parent="#accordionClReview">
            <div class="card-body">
                <!-- Preguntas informativas -->
                {% include asset('admin/images/preImages.html.twig') with {'road':'CLREVIEW'} %}
                <!-- / Preguntas informativas -->
                <div class="dev_images_twig_CLREVIEW">

                </div>
            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->

    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingOneClReview">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOneClReview" aria-expanded="true" aria-controls="collapseOneClReview">
                    Descripción del examen clínico
                </button>
                <span class="far fa-check-circle fa-lg hidden" id="checkClReviewDescription" aria-hidden="true"></span>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseOneClReview" class="collapse" aria-labelledby="headingOneClReview" data-parent="#accordionClReview">
            <div class="card-body">
                <!-- Preguntas informativas -->
                <form id="clReviewDescription">
                    <ol type="1" class="d-flex justify-content-center m-2">
                        <li class="popins-20-blue">
                            <p>
                                Escribe una descripción general del examen clínico
                            </p>
                            <textarea class="popins-14-blue width-20-em height-10-em dev_description_clreview" data-road="CLREVIEW" placeholder="Escribe aquí la descripción" required></textarea>
                        </li>
                    </ol>

                    <div class="container d-flex justify-content-end">
                        <input type="submit" id="clReviewDescriptionSubmit" class="btn btn-primary" value="Guarda tus respuestas!" >
                    </div>
                </form>
                <!-- / Preguntas informativas -->

            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->

    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingTwoClReview">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoClReview" aria-expanded="false" aria-controls="collapseTwoClReview">
                    Preguntas informativas
                </button>
                <span class="far fa-check-circle fa-lg hidden" id="checkClReview" aria-hidden="true"></span>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseTwoClReview" class="collapse" aria-labelledby="headingTwoClReview" data-parent="#accordionClReview">
            <div class="card-body">
                <!-- Preguntas informativas -->
                {% include asset('admin/informative/informativeQuestionsClReview.html.twig') %}
                <!-- / Preguntas informativas -->
            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->

    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingThreeClReview">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThreeClReview" aria-expanded="true" aria-controls="collapseThreeClReview">
                    Preguntas de análisis
                </button>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseThreeClReview" class="collapse" aria-labelledby="headingThreelReview" data-parent="#accordionClReview">
            <div class="card-body">
                <!-- Preguntas análisis -->
                {% include asset('admin/analysis/preAnalysis.html.twig') with {'road':'CLREVIEW'} %}
                <!-- / Preguntas análisis -->

                <div class="dev_analysis_twig_CLREVIEW">

                </div>

            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->

</div>