<div class="accordion" id="accordionHistory">
    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingOneHistory">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOneHistory" aria-expanded="true" aria-controls="collapseOneHistory">
                    Creación de un caso
                </button>
                <span class="far fa-check-circle fa-lg hidden" id="checkHistory" aria-hidden="true"></span>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseOneHistory" class="collapse show" aria-labelledby="headingOneHistory" data-parent="#accordionHistory">
            <div class="card-body">
                <!-- Preguntas informativas -->
                {% include asset('admin/informative/informativeQuestionsCreatingCase.html.twig') %}
                <!-- / Preguntas informativas -->

            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->

</div>