<div class="accordion" id="accordionDiagnosis">

    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingTwoDiagnosis">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwoDiagnosis" aria-expanded="false" aria-controls="collapseTwoDiagnosis">
                    Preguntas de análisis
                </button>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseTwoDiagnosis" class="collapse show" aria-labelledby="headingTwoDiagnosis" data-parent="#accordionDiagnosis">
            <div class="card-body">
                <!-- Preguntas análisis -->
                {% include asset('admin/analysis/preAnalysis.html.twig') with {'road':'DIAG'} %}
                <!-- / Preguntas análisis -->

                <div class="dev_analysis_twig_DIAG">

                </div>
            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->
</div>