<div class="accordion" id="accordionPain">
    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingOnePain">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOnePain" aria-expanded="true" aria-controls="collapseOnePain">
                    Preguntas informativas
                </button>
                <span class="far fa-check-circle fa-lg hidden" id="checkPain" aria-hidden="true"></span>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseOnePain" class="collapse show" aria-labelledby="headingOnePain" data-parent="#accordionPain">
            <div class="card-body">
                <!-- Preguntas informativas -->
                    {% include asset('admin/informative/informativeQuestionsPain.html.twig') %}
                <!-- / Preguntas informativas -->

            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->

    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingTwoPain">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoPain" aria-expanded="false" aria-controls="collapseTwoPain">
                    Preguntas de análisis
                </button>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseTwoPain" class="collapse" aria-labelledby="headingTwoPain" data-parent="#accordionPain">
            <div class="card-body">
                <!-- Preguntas análisis -->
                {% include asset('admin/analysis/preAnalysis.html.twig') with {'road':'PAIN'} %}
                <!-- / Preguntas análisis -->

                <div class="dev_analysis_twig_PAIN">

                </div>
            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->
</div>