<div class="accordion" id="accordionXray">

    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingZeroXray">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseZeroXray" aria-expanded="true" aria-controls="collapseZeroXray">
                    Imagenes del examen radiográfico
                </button>
                <span class="far fa-check-circle fa-lg hidden" id="checkXrayDescription" aria-hidden="true"></span>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseZeroXray" class="collapse show" aria-labelledby="headingZeroXray" data-parent="#accordionXray">
            <div class="card-body">
                <!-- Preguntas informativas -->
                {% include asset('admin/images/preImages.html.twig') with {'road':'XRAY'} %}
                <!-- / Preguntas informativas -->
                <div class="dev_images_twig_XRAY">

                </div>
            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->

    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingOneXray">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOneXray"
                        aria-expanded="true" aria-controls="collapseOneXray">
                    Preguntas informativas
                </button>
                <span class="far fa-check-circle fa-lg hidden" id="checkXRay" aria-hidden="true"></span>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseOneXray" class="collapse" aria-labelledby="headingOneXray" data-parent="#accordionXray">
            <div class="card-body">
                <!-- Preguntas informativas -->
                {% include asset('admin/informative/informativeQuestionsXRay.html.twig') %}
                <!-- / Preguntas informativas -->

            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->

    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header" id="headingTwoXray">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwoXray" aria-expanded="false" aria-controls="collapseTwoXray">
                    Preguntas de análisis
                </button>
            </h5>
        </div>
        <!-- / Card header -->

        <!-- Collapse body -->
        <div id="collapseTwoXray" class="collapse" aria-labelledby="headingTwoXray" data-parent="#accordionXray">
            <div class="card-body">
                <!-- Preguntas análisis -->
                {% include asset('admin/analysis/preAnalysis.html.twig') with {'road':'XRAY'} %}
                <!-- / Preguntas análisis -->

                <div class="dev_analysis_twig_XRAY">

                </div>
            </div>
        </div>
        <!-- / Collapse body -->

    </div>
    <!-- / Card -->
</div>