{% extends 'base.html.twig' %}

{% block title %}
    Rubrica
{% endblock title %}

{% block body %}
    <div class="header">
        <div class="container">
            <div class="container d-flex justify-content-center">
                <label class="btn popins-20-blue btn-blue-mborder"> Análisis</label>
            </div>
        </div>
    </div>

    <div class="main-content d-flex align-items-center justify-content-center">

        <div class="row">
            {% for i in 0..teethQuantity %}
                <!-- Preguntas especificas por diente -->
                <div class="col">
                    <div class="container">

                        <!-- Sección numero de diente -->
                        <div class="container center">
                            <div class="popins-14-blue">
                                <img class="teeth-img" src="{{ asset('images/filled-tooth.png') }}">

                                <div class="container">
                                    <label>Escribe el número de diente</label>
                                </div>
                                <div class="container">
                                    <input type="number" class="inpt-bttm-border dev_answer width-40 center" data-tooth-index="{{ i }}" min="11" max="48">
                                </div>
                            </div>

                        </div>
                        <!-- / Sección numero de diente -->

                        <!-- Slider -->
                        <div id="carouselExampleControls{{ i }}" class="carousel slide" data-ride="carousel">

                            <!-- Carrusel -->
                            <div class="carousel-inner" role="listbox">
                                <ul class="popins-20-blue">
                                    <!-- Preguntas especificas primer criterio -->
                                    <div class="carousel-item active">
                                        <div class="container">
                                            <!-- Contenido de carousel-item -->
                                            <li class="container m-3">
                                                <label>Alteraciones asociadas al caso</label>
                                                <ol type="a" class="popins-14-blue">
                                                    <li>
                                                        <div class="container">
                                                            <label>Selecciona las alteraciones que encontraste en este diente. Puedes escoger más de una</label>
                                                        </div>
                                                    </li>
                                                    <div class="container">
                                                        <form>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" data-question="5" data-tooth="{{ i }}"> Perdida de tejido dental en el diente
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" data-question="7" data-tooth="{{ i }}"> Perdida de tejidos de soporte
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" data-question="10" data-tooth="{{ i }}"> Oclusión
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" data-question="11" data-tooth="{{ i }}"> Trauma
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" data-question="6" data-tooth="{{ i }}"> Presencia de restauraciones que se asocien a la sintomatología
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" data-question="8" data-tooth="{{ i }}"> Deformación de contorno asociadas
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" data-question="9" data-tooth="{{ i }}"> Alteraciones aparentes en la mucosa
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" value="ninguna"> Ninguna
                                                            </div>
                                                        </form>
                                                    </div>
                                                </ol>
                                            </li>
                                            <!-- / Contenido de carousel-item -->
                                        </div>
                                    </div>
                                    <!-- / Preguntas especificas primer criterio -->

                                </ul>
                            </div>
                            <!-- / Carrousel -->

                        </div>
                        <!-- / Slider -->
                    </div>
                </div>
                <!-- / Preguntas especificas por diente -->
            {% endfor %}


        </div>
    </div>

    <footer class="footer">
        <!-- Link de regreso -->
        <div class="container">
            <!--<a href="{{ path('AppBundle_assign_patient_case',{'caseid': idCase}) }}">-->
            <button class="dev_pain_rubric_btn btn-no-border popins-20-green btm-right-corner">
                <span class="mr-4">Regresar al inicio</span>
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </button>
            <!--</a>-->
        </div>
        <!-- / Link de regreso -->
    </footer>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/RubricUtils.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dev_pain_rubric_btn").on('click',function(){
                var jsonCriteria = getRubricAnswers({{ idCase }});
                console.log(jsonCriteria);
                if(jsonCriteria == false) {
                    showNoAnswersSWAL();
                }else{
                    var url = "{{ path('AppBundle_register_rubric_user_answers') }}";
                    var redirection = '{{ url('AppBundle_assign_patient_case',{'caseid': idCase}) }}';
                    //registerRubricAnswers(url,jsonCriteria)
                    swal({
                        title:"Espera!!",
                        text:"¿Estas seguro que quieres enviar estas respuestas?",
                        showCancelButton:true,
                        confirmButtonText:"Si, estoy seguro",
                        cancelButtonText:"No, voy a revisar",
                        preConfirm: function(){
                            return new Promise(function(resolve){
                                registerRubricAnswers(url,jsonCriteria,resolve,redirection);
                            });
                        },


                    });
                }
            });



        });


    </script>

{% endblock javascripts %}