{% extends 'base.html.twig' %}

{% block title %}
    Rubrica
{% endblock title %}

{% block body %}

    <div class="header">
        <div class="container d-flex justify-content-center">
            <label class="btn popins-20-blue btn-blue-mborder"> Análisis</label>
        </div>
    </div>

    <div class="main-content d-flex align-items-center justify-content-center">

            <div class="row">
                {% for i in 0..teethQuantity %}
                    <!-- Preguntas especificas por diente -->
                    <div class="col">
                        <div class="container">

                            <!-- Sección numero de diente -->
                            <div class="container center">
                                <div class="popins-14-blue">
                                    <img class="teeth-img" src="{{ asset('images/filled-tooth.png') }}">

                                    <div class="container">
                                        <label>Escribe el número de diente</label>
                                    </div>
                                    <div class="container">
                                        <input type="number" class="inpt-bttm-border dev_answer width-40 center" data-tooth-index="{{ i }}" min="11" max="48">
                                    </div>
                                </div>

                            </div>
                            <!-- / Sección numero de diente -->

                            <!-- Slider -->
                            <div id="carouselExampleControls{{ i }}" class="carousel slide" data-ride="carousel">

                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                                </ol>

                                <!-- Carrusel -->
                                <div class="carousel-inner" role="listbox">
                                    <ul class="popins-20-blue">
                                        <!-- Preguntas especificas primer criterio -->
                                        <div class="carousel-item active">
                                            <div class="container height-20-em width-25-em">
                                                <!-- Contenido de carousel-item -->
                                                <li class="container m-3">
                                                    <label>Diagnóstico pulpar</label>
                                                    <ol type="a" class="popins-14-blue">
                                                        <li>
                                                            <div class="container">
                                                                <label>Selecciona el diagnóstico pulpar para este diente</label>
                                                            </div>
                                                        </li>
                                                        <div class="container">
                                                            <form>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="radio" name="C1" data-question="12" data-tooth="{{ i }}"> Pulpa clinicamente sana
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="radio" name="C1" data-question="13" data-tooth="{{ i }}"> Pulpitis reversible
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="radio" name="C1" data-question="14" data-tooth="{{ i }}"> Pulpitis irreversible sintomática
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="radio" name="C1" data-question="15" data-tooth="{{ i }}"> Pulpitis irreversible asintomática
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="radio" name="C1" data-question="16" data-tooth="{{ i }}"> Pulpitis irreversible asintomática: reabsorción interna
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="radio" name="C1" data-question="17" data-tooth="{{ i }}"> Pulpitis irreversible asintomática: degeneración pulpar calcificante progresiva
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="radio" name="C1" data-question="18" data-tooth="{{ i }}"> Pulpitis irreversible asintomática: hiperplasia pulpar
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="radio" name="C1" data-question="44" data-tooth="{{ i }}"> Necrosis pulpar
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="radio" name="C1" data-question="45" data-tooth="{{ i }}"> Tratamiento endodóntico previo
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="radio" name="C1" data-question="46" data-tooth="{{ i }}"> Tramiento endodóntico iniciado
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </ol>
                                                </li>
                                                <!-- / Contenido de carousel-item -->
                                            </div>
                                        </div>
                                        <!-- / Preguntas especificas primer criterio -->

                                        <!-- Preguntas especificas segundo criterio -->
                                        <div class="carousel-item">
                                            <div class="container height-20-em width-25-em">
                                                <!-- Contenido de carousel-item -->
                                                <li class="container m-3">
                                                    <label>Diagnóstico periapical</label>
                                                    <ol type="a" class="popins-14-blue">
                                                        <li>
                                                            <div class="container">
                                                                <label>Selecciona el diagnóstico periapical para este diente</label>
                                                            </div>
                                                            <div class="container">
                                                                <form>
                                                                    <div class="container">
                                                                        <input class="form-check-input dev_tooth_answer" type="radio" name="C2" data-question="19" data-tooth="{{ i }}"> Abceso periapical agudo
                                                                    </div>
                                                                    <div class="container">
                                                                        <input class="form-check-input dev_tooth_answer" type="radio" name="C2" data-question="20" data-tooth="{{ i }}"> Abceso periapical crónico
                                                                    </div>
                                                                    <div class="container">
                                                                        <input class="form-check-input dev_tooth_answer" type="radio" name="C2" data-question="21" data-tooth="{{ i }}"> Periodontitis periapical sintomática
                                                                    </div>
                                                                    <div class="container">
                                                                        <input class="form-check-input dev_tooth_answer" type="radio" name="C2" data-question="22" data-tooth="{{ i }}"> Periodontitis periapical asintomática
                                                                    </div>
                                                                    <div class="container">
                                                                        <input class="form-check-input dev_tooth_answer" type="radio" name="C2" data-question="23" data-tooth="{{ i }}"> Periapice sano
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </li>
                                                <!-- / Contenido de carousel-item -->
                                            </div>
                                        </div>
                                        <!-- / Preguntas especificas segundo criterio -->

                                        <!-- Preguntas especificas tercer criterio -->
                                        <div class="carousel-item">
                                            <div class="container height-20-em width-25-em">
                                                <!-- Contenido de carousel-item -->
                                                <li class="container m-3">
                                                    <label>Diagnósticos diferenciales</label>
                                                    <ol type="a" class="popins-14-blue">
                                                        <li>
                                                            <div class="container">
                                                                <label>¿Encontraste fracturas longitudinales dentales?</label>
                                                            </div>
                                                            <div class="container">
                                                                <form>
                                                                    <div class="container">
                                                                        <input class="form-check-input dev_tooth_answer" type="radio" name="C3" data-type="boolean" data-question="25" data-tooth="{{ i }}" value="si"> Si
                                                                    </div>
                                                                    <div class="container">
                                                                        <input class="form-check-input dev_tooth_answer" type="radio" name="C3" data-type="boolean" data-question="25" data-tooth="{{ i }}" value="no"> No
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </li>

                                                    </ol>
                                                </li>
                                                <!-- / Contenido de carousel-item -->
                                            </div>
                                        </div>
                                        <!-- / Preguntas especificas tercer criterio -->
                                    </ul>
                                </div>
                                <!-- / Carrousel -->

                                <!-- Controles de carrusel -->
                                <a class="carousel-control-prev" href="#carouselExampleControls{{ i }}" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon fas fa-arrow-circle-left fa-2x" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls{{ i }}" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon fas fa-arrow-circle-right fa-2x" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                <!-- / Controles de carrusel -->

                            </div>
                            <!-- / Slider -->
                        </div>
                    </div>
                    <!-- / Preguntas especificas por diente -->
                {% endfor %}

                <!-- Preguntas generales -->
                <div class="col">
                    <div class="container d-flex justify-content-center">
                        <ul>
                           <li class="container m-3 popins-20-blue">
                               <label>Preguntas generales</label>
                               <p class="popins-14-blue">
                                   Reponde <strong class="popins-14-green">solo las preguntas que aplican</strong> para este caso.
                               </p>
                               <ol type="a" class="popins-14-blue">

                                   <li>
                                       <div class="container">
                                           <label>Dolor referido de otras estructuras no dentales</label>
                                       </div>
                                       <div class="container">
                                           <input type="text" class="inpt-bttm-border dev_general_answer" data-question="24" placeholder="Escribe la estructura no dental">
                                       </div>
                                   </li>

                                   <li>
                                       <div class="container mt-4">
                                           <label>Patología de origen periodontal</label>
                                       </div>
                                       <div class="container">
                                           <input type="text" class="inpt-bttm-border dev_general_answer" data-question="26" placeholder="Escribe la patología">
                                       </div>
                                   </li>

                               </ol>
                           </li>
                        </ul>
                    </div>
                </div>

                <!-- Preguntas generales -->

            </div>

    </div>

    <footer class="footer">
        <!-- Link de regreso -->
        <div class="container">
            <!--<a href="{{ path('AppBundle_assign_patient_case',{'caseid': idCase}) }}">-->
            <button class="dev_pain_rubric_btn btn-no-border popins-20-green btm-right-corner">
                <span class="mr-4">Revisa tu resultado!</span>
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </button>
            <!--</a>-->
        </div>
        <!-- / Link de regreso -->
    </footer>


{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/RubricUtils.js') }}"></script>
    <script type="text/javascript">

        noAutoScrollOnCarousel();

        $(document).ready(function () {
            $(".dev_pain_rubric_btn").on('click',function(){
                var jsonCriteria = getRubricAnswers({{ idCase }}, new Array());
                console.log(jsonCriteria);
                if(jsonCriteria == false) {
                    showNoAnswersSWAL();
                }else{
                    var url = "{{ path('AppBundle_register_rubric_user_answers') }}";
                    var redirection = '{{ url('AppBundle_show_feedback',{'idCase': idCase}) }}';
                    //registerRubricAnswers(url,jsonCriteria)
                    swal({
                        title:"Espera!!",
                        text:"¿Estas seguro que quieres enviar estas respuestas?",
                        showCancelButton:true,
                        confirmButtonText:"Si, estoy seguro",
                        cancelButtonText:"No, voy a revisar",
                        preConfirm: function(){
                            return new Promise(function(resolve){
                                registerRubricAnswers(url,jsonCriteria,resolve,redirection);
                            });
                        },


                    });
                }
            });



        });


    </script>

{% endblock javascripts %}