{% extends 'base.html.twig' %}

{% block title %}
    Rubrica
{% endblock title %}

{% block body %}
    <div class="header">
        <div class="container d-flex justify-content-center">
            <label class="btn popins-20-blue btn-blue-mborder"> Análisis</label>
        </div>
    </div>
    <div class = "main-content d-flex align-items-center justify-content-center">

        <div class="row">

            <!-- Preguntas generales -->
            <div class="col">
                <div class="container d-flex justify-content-center">
                    <ul>
                        <li class="container m-3 popins-20-blue">
                            <label>Preguntas generales</label>
                            <ol type="a" class="popins-14-blue">

                                <li>
                                    <div class="container">
                                        <label>El paciente llega</label>
                                    </div>
                                    <div class="container">
                                        <form>
                                            <div class="container">
                                                <input class="form-check-input dev_general_answer" type="radio" data-question="1" name="C1" value="Sintomático"> Sintomático
                                            </div>
                                            <div class="container">
                                                <input class="form-check-input dev_general_answer" type="radio" data-question="1" name="C1" value="Asintomático"> Asintomático
                                            </div>
                                        </form>
                                    </div>
                                </li>

                                <li>
                                    <div class="container">
                                        <label>Origen del dolor</label>
                                    </div>
                                    <div class="container">
                                        <form>
                                            <div class="container">
                                                <input class="form-check-input dev_general_answer" type="radio" data-question="2" name="C2" value="Ausente"> Ausente
                                            </div>
                                            <div class="container">
                                                <input class="form-check-input dev_general_answer" type="radio" data-question="2" name="C2" value="Pulpar"> Pulpar
                                            </div>
                                            <div class="container">
                                                <input class="form-check-input dev_general_answer" type="radio" data-question="2" name="C2" value="Periapical"> Peripical
                                            </div>
                                        </form>
                                    </div>
                                </li>




                            </ol>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Preguntas generales -->

            {% if teethQuantity >= 0 %}
            {% for i in 0..teethQuantity %}
                <!-- Preguntas especificas por diente -->
                <div class="col">
                    <div class="container">

                        <!-- Sección numero de diente -->
                        <div class="container center">
                            <div class="popins-14-blue">
                                <img class="teeth-img" src="{{ asset('images/filled-tooth.png') }}">

                                <div class="container">
                                    <label>Escribe el número de diente</label>
                                </div>
                                <div class="container">
                                    <input type="number" class="inpt-bttm-border dev_answer width-40 center" data-tooth-index="{{ i }}" min="11" max="48">
                                </div>
                            </div>

                        </div>
                        <!-- / Sección numero de diente -->

                        <!-- Slider -->
                        <div id="carouselExampleControls{{ i }}" class="carousel slide" data-ride="carousel">

                            <!-- Carrusel -->
                            <div class="carousel-inner" role="listbox">
                                <ul class="popins-20-blue">
                                    <!-- Preguntas especificas primer criterio -->
                                    <div class="carousel-item active">
                                        <div class="container">
                                            <!-- Contenido de carousel-item -->
                                            <li class="container m-3">
                                                <label>Identificación de  diente</label>
                                                <ol type="a" class="popins-14-blue">
                                                    <li>
                                                        <div class="container">
                                                            <label>Este diente podría:</label>
                                                        </div>
                                                    </li>
                                                    <div class="container">
                                                        <form>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="radio" name="C3" data-question="3" data-tooth="{{ i }}"> Origina el dolor
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="radio" name="C3" data-question="4" data-tooth="{{ i }}"> Refiere el dolor
                                                            </div>
                                                        </form>
                                                    </div>
                                                </ol>
                                            </li>
                                            <!-- / Contenido de carousel-item -->
                                        </div>
                                    </div>
                                    <!-- / Preguntas especificas primer criterio -->

                                </ul>
                            </div>
                            <!-- / Carrousel -->


                        </div>
                        <!-- / Slider -->
                    </div>
                </div>
                <!-- / Preguntas especificas por diente -->
            {% endfor %}
            {% endif %}


        </div>
    </div>

    <footer class="footer">
        <!-- Link de regreso -->
        <div class="container">
            <!--<a href="{{ path('AppBundle_assign_patient_case',{'caseid': idCase}) }}">-->
            <button class="dev_pain_rubric_btn btn-no-border popins-20-green btm-right-corner">
                <span class="mr-4">Regresar al inicio</span>
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </button>
            <!--</a>-->
        </div>
        <!-- / Link de regreso -->
    </footer>


{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/RubricUtils.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dev_pain_rubric_btn").on('click',function(){
                var jsonCriteria = getRubricAnswers({{ idCase }});
                console.log(jsonCriteria);
                if(jsonCriteria == false) {
                    showNoAnswersSWAL();
                }else{
                    var url = "{{ path('AppBundle_register_rubric_user_answers') }}";
                    var redirection = '{{ url('AppBundle_assign_patient_case',{'caseid': idCase}) }}';
                    //registerRubricAnswers(url,jsonCriteria)
                    swal({
                        title:"Espera!!",
                        text:"¿Estas seguro que quieres enviar estas respuestas?",
                        showCancelButton:true,
                        confirmButtonText:"Si, estoy seguro",
                        cancelButtonText:"No, voy a revisar",
                        preConfirm: function(){
                            return new Promise(function(resolve){
                                registerRubricAnswers(url,jsonCriteria,resolve,redirection);
                            });
                        },


                    });
                }
            });



        });

    </script>

{% endblock javascripts %}