{% extends 'base.html.twig' %}

{% block title %}
    Resultado
{% endblock title %}

{% block body %}
    <div class="container d-flex justify-content-center mt-5">
        <label class="btn popins-20-blue btn-blue-mborder">Resultado</label>
    </div>
    <div class="main-content d-flex align-items-center">
        <div class="container">
            <div class="container center">
                <p class="popins-20-blue">
                    Tu puntaje: {{ userPoints }} / 20
                </p>
            </div>
            {% if feedback != false %}
            <table class="table table-striped">
                <thead class="popins-20-white">
                <tr class = "bg-primary">
                    <th scope="col">Aspecto</th>
                    <th scope="col">Comentarios</th>
                </tr>
                </thead>
                <tbody>

                {% for aspect in feedback['aspects'] %}
                    <tr>
                        <td class="popins-20-blue center">{{ aspect }}</td>
                        <td>
                            <ul class="popins-14-blue">
                                {% for criterionFeedback in feedback[aspect] %}
                                <li>
                                    {{ criterionFeedback }}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <footer class="footer">
        <!-- Link de contiar con análisis -->
        <div class="btn-no-border btm-right-corner">
            <a href="{{ path('AppBundle_show_patient_cases_progress') }}">
                <span class="mr-4 popins-20-green">Revisa tu proceso</span>
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
        <!-- Link de contiar con análisis -->
    </footer>

{% endblock body %}