{% extends 'base.html.twig' %}

{% block title %}
    Rubrica
{% endblock title %}

{% block body %}
    <div class="header">
        <div class="container">
            <div class="container d-flex justify-content-center">
                <label class="btn popins-20-blue btn-blue-mborder"> Análisis</label>
            </div>
        </div>
    </div>

    <div class="main-content d-flex align-items-center justify-content-center">
        <div class="row">
            {% for i in 0..teethQuantity %}
                <!-- Preguntas especificas por diente -->
                <div class="col">
                    <div class="container">

                        <!-- Sección numero de diente -->
                        <div class="container center">
                            <div class="popins-14-blue">
                                <img class="teeth-img" src="{{ asset('images/filled-tooth.png') }}">

                                <div class="container">
                                    <label>Escribe el número de diente</label>
                                </div>
                                <div class="container">
                                    <input type="number" class="inpt-bttm-border dev_answer width-40 center" data-tooth-index="{{ i }}" min="11" max="48">
                                </div>
                            </div>

                        </div>
                        <!-- / Sección numero de diente -->

                        <!-- Slider -->
                        <div id="carouselExampleControls{{ i }}" class="carousel slide" data-ride="carousel">

                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                            </ol>

                            <!-- Carrusel -->
                            <div class="carousel-inner" role="listbox">
                                <ul class="popins-20-blue">
                                    <!-- Preguntas especificas primer criterio -->
                                    <div class="carousel-item active">
                                        <div class="container div-300 width-520">
                                            <!-- Contenido de carousel-item -->
                                            <li class="container m-3">
                                                <label>Análisis de estructuras dentales</label>
                                                <ol type="a" class="popins-14-blue">
                                                    <li>
                                                        <div class="container">
                                                            <label>¿Qué encontraste en las estructuras dentales?. Puedes escoger más de una</label>
                                                        </div>
                                                    </li>
                                                    <div class="container">
                                                        <form>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" data-question="33" data-tooth="{{ i }}"> Zonas radiolúcidas coronales
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" data-question="34" data-tooth="{{ i }}"> Zonas radiolúcidas radiculares
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" data-question="35" data-tooth="{{ i }}"> Zonas radiopacas coronales
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" data-question="36" data-tooth="{{ i }}"> Zonas radiopacas radiculares
                                                            </div>
                                                            <div class="container">
                                                                <input class="form-check-input dev_tooth_answer" type="checkbox" name="C1" value="ninguna"> Ninguna
                                                            </div>
                                                        </form>
                                                    </div>
                                                </ol>
                                            </li>
                                            <!-- / Contenido de carousel-item -->
                                        </div>
                                    </div>
                                    <!-- / Preguntas especificas primer criterio -->

                                    <!-- Preguntas especificas segundo criterio -->
                                    <div class="carousel-item">
                                        <div class="container div-300 width-520">
                                            <!-- Contenido de carousel-item -->
                                            <li class="container m-3">
                                                <label>Análisis de estructuras de soporte</label>
                                                <ol type="a" class="popins-14-blue">
                                                    <li>
                                                        <div class="container">
                                                            <label>¿Qué encontraste en las estructuras de soporte?. Puedes escoger más de una</label>
                                                        </div>
                                                        <div class="container">
                                                            <form>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="checkbox" name="C2" data-question="37" data-tooth="{{ i }}"> Pérdida de tejido de soporte
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="checkbox" name="C2" data-question="38" data-tooth="{{ i }}"> Zonas radiolúcidas laterales
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="checkbox" name="C2" data-question="39" data-tooth="{{ i }}"> Zonas radiolúcidas periapicales
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="checkbox" name="C2" data-question="40" data-tooth="{{ i }}"> Zonas radiopacas periapicales
                                                                </div>
                                                                <div class="container">
                                                                    <input class="form-check-input dev_tooth_answer" type="checkbox" name="C2" value="ninguna"> Ninguna
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </li>
                                            <!-- / Contenido de carousel-item -->
                                        </div>
                                    </div>
                                    <!-- / Preguntas especificas segundo criterio -->

                                </ul>
                            </div>
                            <!-- / Carrousel -->

                            <!-- Controles de carrusel -->
                            <a class="carousel-control-prev" href="#carouselExampleControls{{ i }}" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon fas fa-arrow-circle-left fa-2x" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls{{ i }}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon fas fa-arrow-circle-right fa-2x" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!-- / Controles de carrusel -->

                        </div>
                        <!-- / Slider -->
                    </div>
                </div>
                <!-- / Preguntas especificas por diente -->
            {% endfor %}

            <!-- Preguntas generales -->
            <div class="col">
                <div class="container d-flex justify-content-center">
                    <ul>
                        <li class="container m-3 popins-20-blue">
                            <label>Preguntas generales</label>
                            <p class="popins-14-blue">
                                Reponde <strong class="popins-14-green">solo las preguntas que aplican</strong> para este caso.
                            </p>
                            <ol type="a" class="popins-14-blue">

                                <li>
                                    <div class="container">
                                        <label>Zonas anatómicas que se confundan</label>
                                    </div>
                                    <div class="container">
                                        <input type="text" class="inpt-bttm-border dev_general_answer" data-question="41" placeholder="Escribe la una zona anatómica">
                                    </div>
                                </li>

                                <li>
                                    <div class="container mt-4">
                                        <label>Otras patologías radiolúcidas que no son de origen pulpar</label>
                                    </div>
                                    <div class="container">
                                        <input type="text" class="inpt-bttm-border dev_general_answer" data-question="42" placeholder="Escribe la patología">
                                    </div>
                                </li>

                                <li>
                                    <div class="container mt-4">
                                        <label>Otras patologías radiopacas que no son de origen pulpar</label>
                                    </div>
                                    <div class="container">
                                        <input type="text" class="inpt-bttm-border dev_general_answer" data-question="43" placeholder="Escribe la patología">
                                    </div>
                                </li>

                            </ol>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Preguntas generales -->

        </div>

    </div>
    <footer class="footer">
        <!-- Link de regreso -->
        <div class="container">
            <!--<a href="{{ path('AppBundle_assign_patient_case',{'caseid': idCase}) }}">-->
            <button class="dev_pain_rubric_btn btn-no-border popins-20-green btm-right-corner">
                <span class="mr-4">Regresar al inicio</span>
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </button>
            <!--</a>-->
        </div>
        <!-- / Link de regreso -->
    </footer>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/RubricUtils.js') }}"></script>
    <script type="text/javascript">

        noAutoScrollOnCarousel();

        $(document).ready(function () {
            $(".dev_pain_rubric_btn").on('click',function(){
                var jsonCriteria = getRubricAnswers({{ idCase }});
                console.log(jsonCriteria);
                if(jsonCriteria == false) {
                    showNoAnswersSWAL();
                }else{
                    var url = "{{ path('AppBundle_register_rubric_user_answers') }}";
                    var redirection = '{{ url('AppBundle_assign_patient_case',{'caseid': idCase}) }}';
                    //registerRubricAnswers(url,jsonCriteria)
                    swal({
                        title:"Espera!!",
                        text:"¿Estas seguro que quieres enviar estas respuestas?",
                        showCancelButton:true,
                        confirmButtonText:"Si, estoy seguro",
                        cancelButtonText:"No, voy a revisar",
                        preConfirm: function(){
                            return new Promise(function(resolve){
                                registerRubricAnswers(url,jsonCriteria,resolve,redirection);
                            });
                        },


                    });
                }
            });



        });


    </script>

{% endblock javascripts %}