{% extends 'base.html.twig' %}

{% block title %}
    Home student
{% endblock title %}

{% block body %}

    <div class="header">
        <div class="container d-flex justify-content-center">
            <h2>CONVOCATORIA PARA CONTRATACIÓN</h2>
        </div>
    </div>

    <div class="main-content d-flex justify-content-center align-items-center">

        <div class="container">

            <!-- Sección de historia -->
            <div class="container popins-20-blue" >
                <p>
                    Bienvenido al proceso de contratación en el Departamento de Diagnóstico, Sección Endodoncia,
                    en la EPS Dental Health.

                </p>

                <p>
                    Estamos buscando un odontólogo que diagnostique eficaz y eficientemente las patologías
                    pulpares y periapicales que serán atendidas por los endodoncistas de nuestra entidad o de ser
                    requerido, hagan las remisiones correspondientes al especialista que corresponda dentro de
                    nuestro portafolio de servicios. El segundo cargo que tenemos disponible es el de jefe de la
                    Sección de Endodoncia del Departamento de Diagnóstico.
                </p>

                <p>
                    La selección la haremos utilizando esta plataforma de la siguiente manera:
                    <ul>
                        <li>
                            Para el cargo de <strong class="popins-20-green">diagnosticador-endodoncia</strong>, la persona seleccionada será aquella que llegue a un
                            <strong class="popins-20-green">nivel intermedio</strong> después de haber diagnosticado un número dado de pacientes.
                        </li>
                        <li>
                            Para el cargo de <strong class="popins-20-green">jefe de la Sección de Endodoncia</strong> del Departamento de Diagnóstico, la persona
                            seleccionada será aquella que llegue a un <strong class="popins-20-green">nivel avanzado</strong> después de haber diagnosticado un
                            número dado de pacientes.
                        </li>
                    </ul>
                </p>

                <p>
                    El salario devengado corresponderá al cargo: el jefe ganará el doble que el diagnosticador.
                    Quienes no queden seleccionados pueden intentarlo en un nuevo proceso de selección.
                </p>
            </div>
            <!-- / Sección de historia -->

            <!-- boton de comenzar a jugar-->
            <div class="container d-flex justify-content-center mt-5">
                <a class="btn btn-blue-sm popins-20-blue" href="{{ path('AppBundle_show_patient_cases_progress',{'first':1} ) }}">Comienza ya!</a>
            </div>
            <!-- / boton de comenzar a jugar -->
        </div>
    </div>
    <div class="credit">
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Icons made by <a href="https://www.flaticon.com/authors/maxim-basinski" title="Maxim Basinski">Maxim Basinski</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Icons made by <a href="https://www.flaticon.com/authors/maxim-basinski" title="Maxim Basinski">Maxim Basinski</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
{% endblock body %}