{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock title %}

{% block body %}
    <!-- Contenedor loggin -->
    <section class="container-fluid d-flex justify-content-center backgroud">
        <div class="container-login">
            <!-- links de login y registro-->
            <div>
                <a class="btn btn-link popins-20-white" href="{{ path('AppBundle_login') }}">
                    Ingresa
                    <hr class="blue-border border4">
                </a>
                <a class="btn btn-link popins-20-white" href="{{ path('AppBoundle_registration') }}">
                    Regístrate
                    <hr class="blue-border border4">
                </a>
            </div>
            <!-- / links de login y registro-->

            <!-- Div que muestra error si no se pudo autenticar correctamente -->

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <!-- / Div que muestra error si no se pudo autenticar correctamente -->

            <!-- Formulario de login -->

            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <div class="form-group">
                    <div>
                        <label class="popins-14-white opacity06" for="username">Usuario</label>
                    </div>
                    <input class="popins-20-white input center" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group">
                    <div>
                        <label class="popins-14-white opacity06" for="password">Contraseña</label>
                    </div>
                    <input class="popins-20-white input center" type="password" id="password" name="_password" required="required" />
                </div>

                <!-- sección de recuerdame
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Remember me</label>
                -->

                <input class="popins-20-white btn btn-primary btn-blue-m mt-4 input" type="submit" id="_submit" name="_submit" value="Iniciar sesión" />
            </form>
            <!--/ Formulario de login -->
        </div>

    </section>
    <!-- / Contenedor loggin -->

{% endblock body %}