{% extends 'base.html.twig' %}

{% block title %}
    Regístrate
{% endblock title %}

{% block body %}

    <!-- Contenedor loggin -->
    <section class="container-fluid d-flex justify-content-center backgroud">

        <div class="container-login">

            <!-- links de login y registro-->
            <div class="container center">
                <a class="btn btn-link popins-20-white" href="{{ path('AppBundle_login') }}">
                    Ingresa
                    <hr class="blue-border border4">
                </a>
                <a class="btn btn-link popins-20-white" href="{{ path('AppBoundle_registration') }}">
                    Regístrate
                    <hr class="blue-border border4">
                </a>
            </div>
            <!-- / links de login y registro-->

            <!-- Formulario de registro -->
            <div class="container">
                {{ form_start(form, {'method': 'post', 'attr': {'class': 'fos_user_registration_register'}}) }}
                    <!-- Fila de nombre y contraseña -->
                    <div class="row">
                        <div class="col">
                            <div class="container ">
                                <div class="container">
                                   {{ form_label(form.names,null,{'label_attr': {'class': 'popins-14-white opacity06'} } ) }}
                                </div>
                                <div class="container">
                                    {{ form_widget(form.names,{'attr': {'class': 'popins-20-white input center' } }) }}
                                </div>
                                <div class="container">
                                    {{ form_errors(form.names) }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class = "container ">
                                <div class="container">
                                    {{ form_label(form.plainPassword,null,{'label_attr': {'class': 'popins-14-white opacity06'} } ) }}
                                </div>
                                <div class="container">
                                    {{ form_widget(form.plainPassword,{'attr': {'class': 'popins-20-white input center' } } ) }}
                                </div>
                                <div class="container">
                                    {{ form_errors(form.plainPassword) }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- / Fila de nombre y contraseña -->

                    <!-- Fila de apellidos y curso -->
                    <div class="row mt-4">
                        <div class="col">
                            <div class="container ">
                                <div class="container">
                                    {{ form_label(form.surNames,null,{'label_attr': {'class': 'popins-14-white opacity06'} } ) }}
                                </div>
                                <div class="container">
                                    {{ form_widget(form.surNames,{'attr': {'class': 'popins-20-white input center' } }) }}
                                </div>
                                <div class="container">
                                    {{ form_errors(form.surNames) }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class = "container ">
                                <div class="container">
                                    {{ form_label(form.course,null,{'label_attr': {'class': 'popins-14-white opacity06'} } ) }}
                                </div>
                                <div class="container">
                                    {{ form_widget(form.course,{'attr': {'class': 'popins-20-gray input center select' } } ) }}
                                </div>
                                <div class="container">
                                    {{ form_errors(form.course) }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- / Fila de apellidos y curso -->

                    <!-- Fila de email y semestre -->
                    <div class="row mt-4">
                        <div class="col">
                            <div class="container ">
                                <div class="container">
                                    {{ form_label(form.email,null,{'label_attr': {'class': 'popins-14-white opacity06'} } ) }}
                                </div>
                                <div class="container">
                                    {{ form_widget(form.email,{'attr': {'class': 'popins-20-white input center' } }) }}
                                </div>
                                <div class="container">
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class = "container ">
                                <div class="container">
                                    {{ form_label(form.semester,null,{'label_attr': {'class': 'popins-14-white opacity06'} } ) }}
                                </div>
                                <div class="container">
                                    {{ form_widget(form.semester,{'attr': {'class': 'popins-20-gray input center select' } } ) }}
                                </div>
                                <div class="container">
                                    {{ form_errors(form.semester) }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- / Fila de email y semestre -->

                    <!-- Fila de registrar -->
                    <div class="row mt-5">
                        <div class="col">
                            <div class="center">
                                <div class="container">
                                    {{ form_label(form.submit,null,{'label_attr': {'class': 'popins-14-white opacity06'} } ) }}
                                </div>
                                <div class="container">
                                    {{ form_widget(form.submit,{'attr': {'class': 'popins-20-white btn btn-primary btn-blue-m mt-4 input center' } }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Fila de registrar -->


                {{ form_end(form) }}
            </div>
            <!-- / Formulario de registro -->
        </div>
    </section>

{% endblock %}