<div class="row">
    {% for i in 0..teethQuantity %}
        <!-- Preguntas especificas por diente -->
        <div class="col">
            <div class="container">

                <!-- Sección numero de diente -->
                <div class="container center">
                    <div class="popins-14-blue">
                        <img class="teeth-img" src="{{ asset('images/filled-tooth.png') }}">

                        <div class="container">
                            <label>Escribe el número de diente</label>
                        </div>
                        <div class="container">
                            <input type="number" class="inpt-bttm-border dev_answer_clreview width-40 center" data-tooth-index-clreview="{{ i }}" min="11" max="48">
                        </div>
                    </div>

                </div>
                <!-- / Sección numero de diente -->

                <!-- Slider -->
                <div id="carouselExampleControls{{ i }}" class="carousel slide" data-ride="carousel">

                    <!-- Carrusel -->
                    <div class="carousel-inner" role="listbox">
                        <ul class="popins-20-blue">
                            <!-- Preguntas especificas primer criterio -->
                            <div class="carousel-item active">
                                <div class="container div-300 width-520">
                                    <!-- Contenido de carousel-item -->
                                    <li class="container m-3">
                                        <label>Alteraciones asociadas al caso</label>
                                        <ol type="a" class="popins-14-blue">
                                            <li>
                                                <div class="container">
                                                    <label>Selecciona las alteraciones que encontraste en este diente. Puedes escoger más de una</label>
                                                </div>
                                            </li>
                                            <div class="container">
                                                <form>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_clreview" type="checkbox" name="C1" data-question="5" data-tooth="{{ i }}"> Perdida de tejido dental en el diente
                                                    </div>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_clreview" type="checkbox" name="C1" data-question="7" data-tooth="{{ i }}"> Perdida de tejidos de soporte
                                                    </div>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_clreview" type="checkbox" name="C1" data-question="10" data-tooth="{{ i }}"> Oclusión
                                                    </div>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_clreview" type="checkbox" name="C1" data-question="11" data-tooth="{{ i }}"> Trauma
                                                    </div>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_clreview" type="checkbox" name="C1" data-question="6" data-tooth="{{ i }}"> Presencia de restauraciones que se asocien a la sintomatología
                                                    </div>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_clreview" type="checkbox" name="C1" data-question="8" data-tooth="{{ i }}"> Deformación de contorno asociadas
                                                    </div>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_clreview" type="checkbox" name="C1" data-question="9" data-tooth="{{ i }}"> Alteraciones aparentes en la mucosa
                                                    </div>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_clreview" type="checkbox" name="C1" value="ninguna"> Ninguna
                                                    </div>
                                                </form>
                                            </div>
                                        </ol>
                                    </li>
                                    <!-- / Contenido de carousel-item -->
                                </div>
                            </div>
                            <!-- / Preguntas especificas primer criterio -->

                        </ul>
                    </div>
                    <!-- / Carrousel -->

                </div>
                <!-- / Slider -->
            </div>
        </div>
        <!-- / Preguntas especificas por diente -->
    {% endfor %}


</div>

<div class="container d-flex justify-content-end">
    <button class="btn btn-primary admin_analysis_clreview" id="submit_analisis_clreview" value="Guarda tus respuestas!" >Guarda tus respuestas</button>
</div>

<script type="text/javascript">
    $(".admin_analysis_clreview").on("click",function(){
        var jsonString = getRubricAnswers(globalIdPatientCase,CLREVIEW_ROUTE);
        console.log(jsonString);
        ajaxRegisterCriterionAnswers(jsonString,CLREVIEW_ROUTE);
    });
</script>