<div class="row">
    {% for i in 0..teethQuantity %}
        <!-- Preguntas especificas por diente -->
        <div class="col">
            <div class="container">

                <!-- Sección numero de diente -->
                <div class="container center">
                    <div class="popins-14-blue">
                        <img class="teeth-img" src="{{ asset('images/filled-tooth.png') }}">

                        <div class="container">
                            <label>Escribe el número de diente</label>
                        </div>
                        <div class="container">
                            <input type="number" class="inpt-bttm-border dev_answer_cltests width-40 center" data-tooth-index-cltests="{{ i }}" min="11" max="48">
                        </div>
                    </div>

                </div>
                <!-- / Sección numero de diente -->

                <!-- Slider -->
                <div id="carouselAnalysisClTests{{ i }}" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#carouselAnalysisClTests" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselAnalysisClTests" data-slide-to="1"></li>
                    </ol>

                    <!-- Carrusel -->
                    <div class="carousel-inner" role="listbox">
                        <ul class="popins-20-blue">
                            <!-- Preguntas especificas primer criterio -->
                            <div class="carousel-item active">
                                <div class="container div-300 width-520">
                                    <!-- Contenido de carousel-item -->
                                    <li class="container m-3">
                                        <label>Resultado de pruebas de sensibilidad</label>
                                        <ol type="a" class="popins-14-blue">
                                            <li>
                                                <div class="container">
                                                    <label>Selecciona las caracteristicas que identifiquen a este diente. Puedes escoger más de una.</label>
                                                </div>
                                            </li>
                                            <div class="container">
                                                <form>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_cltests" type="checkbox" name="C1" data-question="27" data-tooth="{{ i }}"> Diente con hipersensibilidad
                                                    </div>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_cltests" type="checkbox" name="C1" data-question="28" data-tooth="{{ i }}"> Diente con alteración de sensibilidad que sugiere patología
                                                    </div>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_cltests" type="checkbox" name="C1" data-question="29" data-tooth="{{ i }}"> Diente con sensibilidad normal
                                                    </div>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_cltests" type="checkbox" name="C1" value="ninguna"> Ninguna
                                                    </div>
                                                </form>
                                            </div>
                                        </ol>
                                    </li>
                                    <!-- / Contenido de carousel-item -->
                                </div>
                            </div>
                            <!-- / Preguntas especificas primer criterio -->

                            <!-- Preguntas especificas segundo criterio -->
                            <div class="carousel-item">
                                <div class="container div-300 width-520">
                                    <!-- Contenido de carousel-item -->
                                    <li class="container m-3">
                                        <label>Resultado de pruebas periapicales</label>
                                        <ol type="a" class="popins-14-blue">
                                            <li>
                                                <div class="container">
                                                    <label>Selecciona las caracteristicas que identifiquen a este diente. Puedes escoger más de una.</label>
                                                </div>
                                                <div class="container">
                                                    <form>
                                                        <div class="container">
                                                            <input class="form-check-input dev_tooth_answer_cltests" type="checkbox" name="C2" data-question="30" data-tooth="{{ i }}"> Inflamación del ligamento periodontal en el diente
                                                        </div>
                                                        <div class="container">
                                                            <input class="form-check-input dev_tooth_answer_cltests" type="checkbox" name="C2" data-question="31" data-tooth="{{ i }}"> Cambios en el sonido al realizar las pruebas y no hay dolor
                                                        </div>
                                                        <div class="container">
                                                            <input class="form-check-input dev_tooth_answer_cltests" type="checkbox" name="C2" value="ninguna"> Ninguna
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>
                                    <!-- / Contenido de carousel-item -->
                                </div>
                            </div>
                            <!-- / Preguntas especificas segundo criterio -->

                        </ul>
                    </div>
                    <!-- / Carrousel -->

                    <!-- Controles de carrusel -->
                    <a class="carousel-control-prev" href="#carouselAnalysisClTests{{ i }}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon fas fa-arrow-circle-left fa-2x" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselAnalysisClTests{{ i }}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon fas fa-arrow-circle-right fa-2x" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!-- / Controles de carrusel -->

                </div>
                <!-- / Slider -->
            </div>
        </div>
        <!-- / Preguntas especificas por diente -->
    {% endfor %}

    <!-- Preguntas generales -->
    <div class="col">
        <div class="container d-flex justify-content-center">
            <ul>
                <li class="container m-3 popins-20-blue">
                    <label>Preguntas generales</label>
                    <ol type="a" class="popins-14-blue">

                        <li>
                            <div class="container">
                                <label>Creees que es necesaria alguna prueba complementaria</label>
                            </div>
                            <div class="container">
                                <form>
                                    <div class="container">
                                        <input class="form-check-input dev_general_cltests" type="radio" data-question="32" name="anserC3" value="Fistolografia"> Fistolografia
                                    </div>
                                    <div class="container">
                                        <input class="form-check-input dev_general_cltests" type="radio" data-question="32" name="anserC3" value="Tinción"> Tinción
                                    </div>
                                    <div class="container">
                                        <input class="form-check-input dev_general_cltests" type="radio" data-question="32" name="anserC3" value="Anestesia"> Anestesia selectiva
                                    </div>
                                    <div class="container">
                                        <input class="form-check-input dev_general_cltests" type="radio" data-question="32" name="anserC3" value="Ninguna"> Ninguna
                                    </div>
                                </form>
                            </div>
                        </li>


                    </ol>
                </li>
            </ul>
        </div>
    </div>

    <!-- Preguntas generales -->

</div>

<div class="container d-flex justify-content-end">
    <button class="btn btn-primary admin_analysis_cltests" id="submit_analisis_cltests" value="Guarda tus respuestas!" >Guarda tus respuestas</button>
</div>

<script type="text/javascript">
    $(".admin_analysis_cltests").on("click",function(){
        var jsonString = getRubricAnswers(globalIdPatientCase,CLTESTS_ROUTE);
        console.log(jsonString);
        ajaxRegisterCriterionAnswers(jsonString,CLTESTS_ROUTE);
    });
</script>