<div class="row">

    <!-- Preguntas generales -->
    <div class="col">
        <div class="container d-flex justify-content-center">
            <ul>
                <li class="container m-3 popins-20-blue">
                    <label>Preguntas generales</label>
                    <ol type="a" class="popins-14-blue">

                        <li>
                            <div class="container">
                                <label>El paciente llega</label>
                            </div>
                            <div class="container">
                                <form>
                                    <div class="container">
                                        <input class="form-check-input dev_general_pain" type="radio" data-question="1"
                                               name="C1" value="Sintomático"> Sintomático
                                    </div>
                                    <div class="container">
                                        <input class="form-check-input dev_general_pain" type="radio" data-question="1"
                                               name="C1" value="Asintomático"> Asintomático
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li>
                            <div class="container">
                                <label>Origen del dolor</label>
                            </div>
                            <div class="container">
                                <form>
                                    <div class="container">
                                        <input class="form-check-input dev_general_pain" type="radio" data-question="2"
                                               name="C2" value="Ausente"> Ausente
                                    </div>
                                    <div class="container">
                                        <input class="form-check-input dev_general_pain" type="radio" data-question="2"
                                               name="C2" value="Pulpar"> Pulpar
                                    </div>
                                    <div class="container">
                                        <input class="form-check-input dev_general_pain" type="radio" data-question="2"
                                               name="C2" value="Periapical"> Peripical
                                    </div>
                                </form>
                            </div>
                        </li>


                    </ol>
                </li>
            </ul>
        </div>
    </div>

    <!-- Preguntas generales -->

    {% if teethQuantity >= 0 %}
    {% for i in 0..teethQuantity %}
        <!-- Preguntas especificas por diente -->
        <div class="col">
            <div class="container">

                <!-- Sección numero de diente -->
                <div class="container center">
                    <div class="popins-14-blue">
                        <img class="teeth-img" src="{{ asset('images/filled-tooth.png') }}">

                        <div class="container">
                            <label>Escribe el número de diente</label>
                        </div>
                        <div class="container">
                            <input type="number" class="inpt-bttm-border dev_answer_pain width-40 center"
                                   data-tooth-index-pain="{{ i }}" min="11" max="48">
                        </div>
                    </div>

                </div>
                <!-- / Sección numero de diente -->

                <!-- Slider -->
                <div id="carouselExampleControls{{ i }}" class="carousel slide" data-ride="carousel">

                    <!-- Carrusel -->
                    <div class="carousel-inner" role="listbox">
                        <ul class="popins-20-blue">
                            <!-- Preguntas especificas primer criterio -->
                            <div class="carousel-item active">
                                <div class="container div-300 width-520">
                                    <!-- Contenido de carousel-item -->
                                    <li class="container m-3">
                                        <label>Identificación de diente</label>
                                        <ol type="a" class="popins-14-blue">
                                            <li>
                                                <div class="container">
                                                    <label>Este diente podría:</label>
                                                </div>
                                            </li>
                                            <div class="container">
                                                <form>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_pain"
                                                               type="radio" name="C3" data-question="3"
                                                               data-tooth="{{ i }}"> Origina el dolor
                                                    </div>
                                                    <div class="container">
                                                        <input class="form-check-input dev_tooth_answer_pain"
                                                               type="radio" name="C3" data-question="4"
                                                               data-tooth="{{ i }}"> Refiere el dolor
                                                    </div>
                                                </form>
                                            </div>
                                        </ol>
                                    </li>
                                    <!-- / Contenido de carousel-item -->
                                </div>
                            </div>
                            <!-- / Preguntas especificas primer criterio -->

                        </ul>
                    </div>
                    <!-- / Carrousel -->


                </div>
                <!-- / Slider -->
            </div>
        </div>
        <!-- / Preguntas especificas por diente -->
    {% endfor %}
    {% endif %}


</div>

<div class="container d-flex justify-content-end">
    <button class="btn btn-primary admin_analysis_pain" id="submit_analisis_pain" value="Guarda tus respuestas!" >Guarda tus respuestas</button>
</div>

<script type="text/javascript">
    $(".admin_analysis_pain").on("click",function(){
        var jsonString = getRubricAnswers(globalIdPatientCase,PAIN_ROUTE);
        console.log(jsonString);
        ajaxRegisterCriterionAnswers(jsonString,PAIN_ROUTE);
    });
</script>