<div class="container center">
    <div class="container popins-20-blue">
        <label>¿Cuántos dientes son analizados en este caso?</label>
    </div>
    <div class="container popins-14-blue">
        <input type="number" class="inpt-bttm-border width-40 center dev_{{ road }}" min="0">
    </div>
    <div class="container mt-5">
        <button class="btn btn-green-m width-9-em popins-20-white dev_preanalysis" data-road="{{ road }}">Continúa!</button>
    </div>
</div>