<div class="container center">
    <p class="popins-20-green">
        Para cada una de las pruebas escribe un resultado
    </p>
</div>

<form  id="PeriapicalTest">
    <ol type="1" class="mt-3">
        <div class="row">

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Masticación
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_periaTest" data-question="16" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Percusión
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_periaTest" data-question="17" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Palpación
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_periaTest" data-question="18" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

        </div>
    </ol>
    <div class="container d-flex justify-content-end">
        <input type="submit" id="periapicalTestubmit" class="btn btn-primary" value="Guarda tus respuestas!" >
    </div>
</form>