<div class="container center">
    <p class="popins-20-green">
        Para cada una de las secciones escribe un resultado
    </p>
</div>

<form id="Pain">
    <ol type="1">
        <div class="row">

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        ¿Siente dolor?
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_pain" data-question="1" placeholder="Escribe la respuesta aquí" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        ¿Algo origina el dolor?
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_pain" data-question="2" placeholder="Escribe la respuesta aquí" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        ¿Dónde es el dolor?
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_pain" data-question="3" placeholder="Escribe la respuesta aquí" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        ¿Es constante?
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_pain" data-question="4" placeholder="Escribe la respuesta aquí" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        ¿Cuál es la intensidad?
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_pain" data-question="5" placeholder="Escribe la respuesta aquí" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

        </div>
    </ol>
    <div class="container d-flex justify-content-end">
        <input type="submit" id="painSubmit" class="btn btn-primary" value="Guarda tus respuestas!" >
    </div>
</form>