<div class="row d-flex justify-content-center mt-3">
    <div class="container">
        <div class="container center">
            <p class="popins-20-blue center">
                Escribe una descripción general de las  pruebas de sensibilidad
            </p>
        </div>
        <div class="container center">
            <textarea class="popins-14-blue width-20-em height-10-em dev_description_cltests" data-road="CLTESTS" placeholder="Escribe aquí la descripción" required></textarea>
        </div>
    </div>
</div>

<hr>
<div class="container mt-3">
    <p class="popins-20-blue center">
        Escribe el resultado para cada una de las pruebas
    </p>
</div>
{% for i in 0..teethQuantity %}
<div class="container">
    <!-- Sección numero de diente -->
    <div class="container">
        <div class="container center">
            <div class="popins-14-blue">
                <img class="teeth-img" src="{{ asset('images/filled-tooth.png') }}">

                <div class="container">
                    <label>Escribe el número de diente</label>
                </div>
                <div class="container">
                    <input type="number" class="inpt-bttm-border dev_sense_tooth width-40 center" data-sense-tooth="{{ i }}" min="11" max="48">
                </div>
            </div>

        </div>
    </div>
    <!-- / Sección numero de diente -->
    <ul>
        <div class="row">
            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Frio
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_frio_{{ i }}" data-question="1" placeholder="Escribe aquí el resultado de la prueba" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Calor
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_calor_{{ i }}" data-question="2" placeholder="Escribe aquí el resultado de la prueba" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Electrica
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_electrica_{{ i }}" data-question="3" placeholder="Escribe aquí el resultado de la prueba" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->
        </div>
    </ul>
</div>
{% endfor %}

<div class="container">
    <!-- Sección numero de diente -->
    <div class="container">
        <div class="container center">
            <div class="popins-14-blue">
                <img class="teeth-img" src="{{ asset('images/filled-tooth.png') }}">

                <div class="container">
                    <label>Resultado de dientes referidos</label>
                </div>
                <div class="container">
                    <input type="text" class="inpt-bttm-border dev_sense_tooth width-40 center" data-sense-tooth="Ref" value="Ref" readonly>
                </div>
            </div>

        </div>
    </div>
    <!-- / Sección numero de diente -->
    <ul>
        <div class="row">
            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Frio
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_frio_Ref" data-question="1" placeholder="Escribe aquí el resultado de la prueba" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Calor
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_calor_Ref" data-question="2" placeholder="Escribe aquí el resultado de la prueba" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Electrica
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_electrica_Ref" data-question="3" placeholder="Escribe aquí el resultado de la prueba" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->
        </div>
    </ul>
</div>

<div class="container d-flex justify-content-end">
    <button class="btn btn-primary dev_submit_sense_test"> Guardar!</button>
</div>

<script type="text/javascript">
    $(".dev_submit_sense_test").on("click",function(){
        var description = getSenseTestDescription();
        var teeth = getTeethResult();
        var jsonObject = new Object();
        jsonObject.description = description;
        jsonObject.idCase = globalIdPatientCase;
        jsonObject.teeth = teeth;

        var jsonString = JSON.stringify(jsonObject);
        console.log(jsonString);
        ajaxSaveSenseTest(jsonString);
    });

    function getSenseTestDescription(){
        return $(".dev_description_cltests").val();
    }

    function getTeethResult(){
        var teethElement = $(".dev_sense_tooth");
        var teeth = new Array();

        for( var i = 0 ; i < teethElement.length ; i++){
            var toothNumber = teethElement[i].value;
            var codeReference = teethElement[i].getAttribute("data-sense-tooth");
            var frio = $(".dev_frio_"+codeReference).val();
            var calor = $(".dev_calor_"+codeReference).val();
            var electrica = $(".dev_electrica_"+codeReference).val();

            var tooth = new Object();
            tooth.toothNumber = toothNumber;
            tooth.frio = frio;
            tooth.calor = calor;
            tooth.electrica = electrica;

            teeth.push(tooth);
        }

        return teeth;
    }

    function ajaxSaveSenseTest(jsonString) {
        var url = "{{ path('AppBundle_admin_register_sense_test') }}";

        $.ajax({
            url: url,
            method: 'POST',
            data: jsonString,
            dataType: 'json',
            success: function (result) {
                console.log(result);
                swalSavedAnswers();

            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                console.log(status);
                console.log(error);
                swal({
                    'title': 'Oooops!',
                    'text': err.message,
                    'type': 'error'
                });

            },
            complete: function (xhr, status) {
                //console.log(status);
                //$(".dev_congelar").fadeOut('slow');
            }
        });
    }
</script>