<div class="container center">
    <p class="popins-20-green">
        Responde cada un de las  siguientes secciones.
    </p>
</div>

<form id="History">
    <ol type="1">
        <div class="row">

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Motivo de consulta
                    </p>
                    <textarea class="popins-14-blue width-25-em height-10-em dev_info_history" data-question="history" placeholder="Escribe historia aquí" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Elige la dificultad del caso
                    </p>
                    <div class="container">
                        <input type="radio" name="HQ1" class="dev_info_history" data-question="difficulty" value="1" required>
                        <label class="popins-14-blue">Básico</label>
                    </div>
                    <div class="container">
                        <input type="radio" name="HQ1" class="dev_info_history" data-question="difficulty" value="2" required>
                        <label class="popins-14-blue">Intermedio</label>
                    </div>
                    <div class="container">
                        <input type="radio" name="HQ1" class="dev_info_history" data-question="difficulty" value="3" required>
                        <label class="popins-14-blue">Avanzado</label>
                    </div>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

        </div>
    </ol>
    <div class="container d-flex justify-content-end">
        <input type="submit" id="historySubmit" class="btn btn-primary" value="Guarda tus respuestas!" >
    </div>
</form>