<div class="container center">
    <p class="popins-20-green">
        Por cada una de las opciones elige "Si"o "No".
    </p>
</div>

<form id="IQXRay">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                <li data-target="#carouselExampleControls" data-slide-to="2"></li>
            </ol>

            <!-- Carrusel -->
            <div class="carousel-inner" role="listbox">
                <!-- Primera estructura dental -->
                <div class="carousel-item active">
                    <div class="container height-40-em">
                        <div class="row d-flex justify-content-center">
                            <div class="col-4">
                                <p class="popins-20-blue">
                                    Corona Cliínica
                                </p>
                            </div>
                            <div class="col-1">
                                <span class="far fa-check-circle fa-lg" aria-hidden="true"></span>
                                <p class="popins-20-blue">
                                    Si
                                </p>
                            </div>
                            <div class="col-1">
                                <span class="far fa-times-circle fa-lg" aria-hidden="true"></span>
                                <p class="popins-20-blue">
                                    No
                                </p>
                            </div>
                        </div>
                        <div class="container">
                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Fractura coronal
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q1" class="dev_info_xray" data-question="19" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q1" class="dev_info_xray" data-question="19" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Obturación coronal
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q2" class="dev_info_xray" data-question="20" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q2" class="dev_info_xray" data-question="20" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Obturaciones extensas
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q3" class="dev_info_xray" data-question="21" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q3" class="dev_info_xray" data-question="21" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Obturaciones profundas
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q4" class="dev_info_xray" data-question="22" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q4" class="dev_info_xray" data-question="22" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Obturaciones cercanas a la pulpa
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q5" class="dev_info_xray" data-question="23" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q5" class="dev_info_xray" data-question="23" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Calcificación de la cámara pulpar
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q6" class="dev_info_xray" data-question="24" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q6" class="dev_info_xray" data-question="24" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Caries coronal profunda
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q7" class="dev_info_xray" data-question="25" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q7" class="dev_info_xray" data-question="25" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Caries coronal extensa
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q8" class="dev_info_xray" data-question="26" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q8" class="dev_info_xray" data-question="26" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Caries coronal cercana a la pulpa
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q9" class="dev_info_xray" data-question="27" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q9" class="dev_info_xray" data-question="27" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                        </div>
                    </div>
                </div>
                <!-- / Primera estructura dental -->

                <!-- Segunda estructura dental -->
                <div class="carousel-item">
                    <div class="container height-40-em">
                        <div class="row d-flex justify-content-center">
                            <div class="col-4">
                                <p class="popins-20-blue">
                                    Raíz (ces)
                                </p>
                            </div>
                            <div class="col-1">
                                <span class="far fa-check-circle fa-lg" aria-hidden="true"></span>
                                <p class="popins-20-blue">
                                    Si
                                </p>
                            </div>
                            <div class="col-1">
                                <span class="far fa-times-circle fa-lg" aria-hidden="true"></span>
                                <p class="popins-20-blue">
                                    No
                                </p>
                            </div>
                        </div>
                        <div class="container">
                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Caries radicular profunda
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q10" class="dev_info_xray" data-question="28" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q10" class="dev_info_xray" data-question="28" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Caries radicular extensa
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q11" class="dev_info_xray" data-question="29" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q11" class="dev_info_xray" data-question="29" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Caries cercana al conduncto radicular
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q12" class="dev_info_xray" data-question="30" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q12" class="dev_info_xray" data-question="30" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Fractura radicular
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q13" class="dev_info_xray" data-question="31" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q13" class="dev_info_xray" data-question="31" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Calcificaciones del o en el conducto radicular
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q14" class="dev_info_xray" data-question="32" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q14" class="dev_info_xray" data-question="32" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Obturación del conducto radicular sobreobturado
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q15" class="dev_info_xray" data-question="33" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q15" class="dev_info_xray" data-question="33" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Obturaciones del conducto radicular sobreextendido
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q16" class="dev_info_xray" data-question="34" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q16" class="dev_info_xray" data-question="34" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Obturación del conducto radicular parcial
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q17" class="dev_info_xray" data-question="35" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q17" class="dev_info_xray" data-question="35" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Obturación del conducto radicular mal condensada
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q18" class="dev_info_xray" data-question="36" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q18" class="dev_info_xray" data-question="36" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Extrusión de material de obturación
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q19" class="dev_info_xray" data-question="37" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q19" class="dev_info_xray" data-question="37" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Reabsorciones externas
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q20" class="dev_info_xray" data-question="38" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q20" class="dev_info_xray" data-question="38" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Reabsorciones internas
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q21" class="dev_info_xray" data-question="39" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q21" class="dev_info_xray" data-question="39" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->
                        </div>
                    </div>
                </div>
                <!-- / Segunda estructura dental -->

                <!-- Tercera estructura dental -->
                <div class="carousel-item">
                    <div class="container height-40-em">
                        <div class="row d-flex justify-content-center">
                            <div class="col-4">
                                <p class="popins-20-blue">
                                    Tejidos de soporte
                                </p>
                            </div>
                            <div class="col-1">
                                <span class="far fa-check-circle fa-lg" aria-hidden="true"></span>
                                <p class="popins-20-blue">
                                    Si
                                </p>
                            </div>
                            <div class="col-1">
                                <span class="far fa-times-circle fa-lg" aria-hidden="true"></span>
                                <p class="popins-20-blue">
                                    No
                                </p>
                            </div>
                        </div>
                        <div class="container">

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Pérdida ósea horizontal
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q22" class="dev_info_xray" data-question="40" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q22" class="dev_info_xray" data-question="40" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Pérdida ósea vertical
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q23" class="dev_info_xray" data-question="41" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q23" class="dev_info_xray" data-question="41" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Zona (s) radiolúcidas en periápice
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q24" class="dev_info_xray" data-question="42" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q24" class="dev_info_xray" data-question="42" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Zona (s) radiolúcidas en furca
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q25" class="dev_info_xray" data-question="43" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q25" class="dev_info_xray" data-question="43" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Zona (s) radiolúcidas laterales
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q26" class="dev_info_xray" data-question="44" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q26" class="dev_info_xray" data-question="44" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Zona (s) radiopacas en periápice
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q27" class="dev_info_xray" data-question="45" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q27" class="dev_info_xray" data-question="45" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Zona (s) radiopaca en furca
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q28" class="dev_info_xray" data-question="46" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q28" class="dev_info_xray" data-question="46" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                            <!-- Pregunta -->
                            <div class="row d-flex justify-content-center">
                                <div class="col-4">
                                    <p class="popins-14-blue">
                                        Zona (s) radiopacas laterales
                                    </p>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q29" class="dev_info_xray" data-question="47" value="si" required>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="q29" class="dev_info_xray" data-question="47" value="no" required>
                                </div>
                            </div>
                            <!-- / Pregunta -->

                        </div>
                    </div>
                </div>
                <!-- / Tercera estructura dental -->

            </div>
            <!-- / Carrousel -->

            <!-- Controles de carrusel -->
            <a class="carousel-control-prev width-25-percent" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon fas fa-arrow-circle-left fa-2x" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next width-25-percent" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon fas fa-arrow-circle-right fa-2x" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!-- / Controles de carrusel -->

        </div>
    </div>
    <div class="container d-flex justify-content-end">
        <input type="submit" id="xraySubmit" class="btn btn-primary" value="Guarda tus respuestas!" >
    </div>
</form>