<div class="container center">
    <p class="popins-20-green">
        Para cada una de las secciones escribe un resultado
    </p>
</div>

<form id="ClReview">
    <ol type="1" class="mt-3">
        <div class="row">

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Deformación de contorno
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_clreview" data-question="6" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Fistulas
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_clreview" data-question="7" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Caries
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_clreview" data-question="8" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Obturaciones
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_clreview" data-question="9" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Fracturas longitudinales
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_clreview" data-question="10" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Color
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_clreview" data-question="11" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Oclusión
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_clreview" data-question="12" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Movilidad
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_clreview" data-question="13" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Bolsa
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_clreview" data-question="14" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

            <!-- PREGUNTA-RESPUESTA -->
            <div class="col d-flex justify-content-center m-2">
                <li class="popins-20-blue">
                    <p>
                        Trauma dento-alveolar
                    </p>
                    <textarea class="popins-14-blue width-20-em height-10-em dev_info_clreview" data-question="15" placeholder="Escribe aquí el resultado" required></textarea>
                </li>
            </div>
            <!-- / PREGUNTA-RESPUESTA -->

        </div>
    </ol>

    <div class="container d-flex justify-content-end">
        <input type="submit" id="clReviewSubmit" class="btn btn-primary" value="Guarda tus respuestas!" >
    </div>
</form>