<div class="container center">
    <div class="container popins-20-blue">
        <label>¿Sobre cuántos dientes <strong class="popins-20-green">no referidos </strong> se hacen las pruebas?</label>
    </div>
    <div class="container popins-14-blue">
        <input type="number" class="inpt-bttm-border width-40 center dev_cltest_teeth" min="1">
    </div>
    <div class="container mt-5">
        <button class="btn btn-green-m width-9-em popins-20-white dev_precltest">Continúa!</button>
    </div>
</div>

