{% extends 'base.html.twig' %}

{% block title %}
    Puruebas clínicas
{% endblock title %}

{% block body %}
    <div class="header">
        <div class="container d-flex justify-content-center">
            <label class="btn popins-20-blue btn-blue-mborder">Examen clínico</label>
        </div>
    </div>
    <div class="main-content d-flex align-items-center">

        <div class="container">

            <div class="row">
                <!-- Descripción del examen clínico -->
                <div class="col d-flex justify-content-center">
                    <a class="btn btn-green-m popins-20-white road" href="{{ path('AppBundle_show_road',{'idcase':idCase,'code':'PERIATEST'}) }}">Pruebas periapicales</a>
                </div>
                <!-- / Descripción del examen clínico -->

                <!-- Imagenes del examen clínico -->
                <div class="col d-flex justify-content-center">
                    <!-- Slider -->
                    <a class="btn btn-green-m popins-20-white road" href="{{ path('AppBundle_show_road',{'idcase':idCase,'code':'SENSETEST'}) }}">Pruebas de sensibilidad</a>
                    <!-- / Slider -->
                </div>
                <!-- Imagenes del examen clínico -->

            </div>

        </div>
    </div>

    <footer class="footer">
        <!-- Link de análisis -->
        <div class="container">
            <!--<a href="{{ path('AppBundle_show_rubric',{'rubric':'CLTESTS','idCase':idCase}) }}">-->
            <button class="dev_analysis btn-no-border popins-20-green btm-right-corner">
                <p class="popins-20-green">
                    <span class="mr-4">Realizar análisis</span>
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                </p>
            </button>
            <!--</a>-->
        </div>
        <!-- / Link de análisis -->
    </footer>
{% endblock body %}

{% block javascripts %}

    {{ parent() }}

    {% include asset('utils/generalUtils.html.twig') %}

    <script type="text/javascript">
        $(".dev_analysis").on("click",function(){
            showPreAnalysisSwal("CLTESTS");
        });
    </script>

{% endblock javascripts %}