{% extends 'base.html.twig' %}

{% block title %}
    Examen clínico
{% endblock title %}

{% block body %}

    <div class="header">
        <div class="container d-flex justify-content-center">
            <label class="btn popins-20-blue btn-blue-mborder">Examen clínico</label>
        </div>
    </div>
    <div class="main-content d-flex align-items-center">

        <div class="container">

            <div class="row">
                <!-- Descripción del examen clínico -->
                <div class="col d-flex align-items-center">
                    <p class="popins-20-blue">
                        {{ detail }}
                    </p>
                </div>
                <!-- / Descripción del examen clínico -->

                {% if images is defined %}
                <!-- Imagenes del examen clínico -->
                <div class="col">
                    <!-- Slider -->
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {% for i in 0..images|length-1 %}
                                <div class="carousel-item {% if i == 0 %} active {% endif %}">
                                    <div class="container">
                                        <img class="d-block img-fluid case-img-m" src="{{ asset('uploads/imgs/') }}{{ images[i] }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon fas fa-arrow-circle-left fa-2x" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon fas fa-arrow-circle-right fa-2x" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- / Slider -->
                </div>
                <!-- Imagenes del examen clínico -->
                {% endif %}

            </div>

        </div>

    </div>

    <footer class="footer">
        <!-- Link de contiar con análisis -->
        <div class="btm-right-corner">
            <a href="{{ path('AppBundle_show_road',{'idcase':idCase,'code':'CLREVIEW'}) }}">
                <p class="popins-20-green">
                    <span class="mr-4">Continuar con análisis</span>
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                </p>
            </a>
        </div>
        <!-- Link de contiar con análisis -->
    </footer>

{% endblock body %}