{% extends 'base.html.twig' %}

{% block title %}
    Progreso
{% endblock title %}

{% block body %}
    <div class="header">
        <div class="container d-flex justify-content-center">
            <label class="btn popins-20-blue btn-blue-mborder"> Progreso</label>
            <i class="far fa-question-circle mr-5 fa-3x btm-right-corner"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="container mt-5">
            <div class="container mb-5 d-flex justify-content-center">
                <p class="popins-20-blue">
                    En esta parte podrás visualizar el desempeño que estás obteniendo durante proceso de selección.
                </p>
            </div>
            <div class="container">
                <div class="row popins-20-blue d-flex justify-content-center">
                    <div class="col-3 d-flex align-items-center">
                        <p>
                            Aciertos
                        </p>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <i class="fas fa-calendar-check fa-3x"></i>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p>
                            {{ succeedCases }}
                        </p>
                    </div>
                </div>
                <div class="row popins-20-blue mt-3 d-flex justify-content-center">
                    <div class="col-3 d-flex align-items-center">
                        <p>
                            Por mejorar
                        </p>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <i class="fas fa-calendar-times fa-3x"></i>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <p>
                            {{ failedCases }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                {% for  i in  1..maxCases %}
                    {% if i == 1 %}
                        <div class="col first-step-col step-height-6 step mb-2">
                    {% elseif i == maxCases %}
                        <div class="col last-step-col step-height-6 step">
                    {% else %}
                        <div class="col step-col step-height-6 step">
                    {% endif %}
                            <div class="container center mt-2">
                                {% if assignedCases is defined and assignedCases[i-1] is defined and assignedCases[i-1].idPatientCase.idLevel.code == "EASY" %}
                                <i class="fas fa-notes-medical fa-3x basic-level">
                                {% elseif assignedCases is defined and assignedCases[i-1] is defined and assignedCases[i-1].idPatientCase.idLevel.code == "MEDIUM" %}
                                <i class="fas fa-notes-medical fa-3x medium-level">
                                {% elseif assignedCases is defined and assignedCases[i-1] is defined and assignedCases[i-1].idPatientCase.idLevel.code == "HARD" %}
                                <i class="fas fa-notes-medical fa-3x hard-level">
                                {% else %}
                                <i class="fas fa-notes-medical fa-3x">
                                {% endif %}
                                    <p class="popins-14-gray mt-1">
                                        caso {{ i }}
                                        {% if assignedCases is defined and assignedCases[i-1] is defined and assignedCases[i-1].succeed == true %}
                                            <i class="fas fa-check fa-lg"></i>
                                        {% elseif assignedCases is defined and assignedCases[i-1] is defined and assignedCases[i-1].succeed == false %}
                                            <i class="fas fa-times fa-lg"></i>
                                        {% endif %}
                                    </p>
                                </i>
                            </div>
                        </div>


                {% endfor %}
            </div>
        </div>

        <p class="popins-20-blue center mt-5">
            Niveles
        </p>
        <div class="row d-flex justify-content-center mt-2">
            <div class="col-1 center">
                <i class="fas fa-notes-medical fa-3x basic-level"></i>
                <p class="popins-14-blue">
                    Básico
                </p>
            </div>
            <div class="col-1 center">
                <i class="fas fa-notes-medical fa-3x medium-level"></i>
                <p class="popins-14-blue">
                    Intermedio
                </p>
            </div>
            <div class="col-1 center">
                <i class="fas fa-notes-medical fa-3x hard-level"></i>
                <p class="popins-14-blue">
                    Avanzado
                </p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <!-- Link de contiar con análisis -->
        <div class="btn-no-border btm-right-corner">
            {% if stop is defined %}
                <a href="{{ path('AppBundle_user_home') }}">
                    <span class="mr-4 popins-20-green">
                        Regresar al home
                    </span>
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                </a>
            {% else %}
                <a href="{{ path('AppBundle_assign_patient_case') }}">
                    <span class="mr-4 popins-20-green">
                        {% if first is defined %}
                            Comienza con el primer caso!
                        {% else %}
                            Continúa con el siguiente caso!
                        {% endif %}
                    </span>
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                </a>
            {% endif %}
        </div>
        <!-- Link de contiar con análisis -->
    </footer>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% include asset('utils/generalUtils.html.twig') %}

    <script type="text/javascript">

        $(document).ready(function(){

            {% if first is defined %}
                showRulesSwal();
            {% endif %}

            {% if stop is defined %}
            swal({
                "title": "lo sentimos.",
                "text": "Ya has perdido el numero maximo de casos permitidos, pudes volver a comenzar =D",
                "type": "error"
            });
            {% endif %}
        });
    </script>

{% endblock javascripts %}
