{% extends 'base.html.twig' %}

{% block title %}
    Examen clínico
{% endblock title %}

{% block body %}
    <div class="header">
        <div class="container d-flex justify-content-center">
            <label class="btn popins-20-blue btn-blue-sm">Revisar</label>
        </div>
    </div>
    <div class="main-content d-flex align-items-center">
        <div class="container">
            <p class="popins-20-blue center">
                ¿Qué información necesitas?. Oprime el boton para obtener el analisis clinico respectivo.
            </p>
            <!-- Sección de preguntas-->
                <div class="row center">
                    {% for question in questions %}
                        <div class="col">
                            <div class="container">
                                <button class="dev_question btn btn-green-m popins-20-white m-4" data-question = "{{ question.detail }}" data-idquestion = "{{ question.id }}">{{ question.detail }}</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            <!-- / Sección de preguntas -->
        </div>
    </div>

    <footer class="footer">
        <!-- Link de análisis -->
        <div class="container">
            <!--<a href="{{ path('AppBundle_show_rubric',{'rubric':'CLREVIEW','idCase':idCase}) }}">-->
            <button class="dev_analysis btn-no-border popins-20-green btm-right-corner">
                <p class="popins-20-green">
                    <span class="mr-4">Realizar análisis</span>
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                </p>
            </button>
            <!--</a>-->
        </div>
        <!-- / Link de análisis -->
    </footer>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% include asset('utils/generalUtils.html.twig') %}

    <script type="text/javascript">

        $(document).ready(function(){
            $(".dev_analysis").on("click",function(){
                showPreAnalysisSwal("CLREVIEW");
            });

            $(".dev_question").on("click",function(){
                var url = "{{ path('AppBundle_get_question_answer') }}";
                var idCase = {{ idCase }};
                var idQuestion = this.getAttribute("data-idquestion");
                var question = this.getAttribute("data-question");

                $.ajax({
                    url: url,
                    method: 'GET',
                    data:{"idCase": idCase,"idQuestion":idQuestion},
                    dataType: 'json',
                    success: function (result) {
                        //console.log(result);
                        if(result == false){
                            swal({
                                title: "Ooops!",
                                text: "Ya te lo conté :(",
                                type: "error",
                            });
                        }
                        else{
                            swal({
                                title: question,
                                text: result.detail,

                            });
                        }
                        //$(".dev_mensaje").html("Se Congeló el usuario");


                    },
                    error: function (xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        console.log(status);
                        console.log(error);
                        alert(err.Message);

                    },
                    complete: function(xhr,status){
                        console.log(status);
                        //$(".dev_congelar").fadeOut('slow');
                    }
                });
            });
        });


    </script>
{% endblock javascripts %}