{% extends 'base.html.twig' %}

{% block title %}
    Final!
{% endblock title %}

{% block body %}

    <div class="header">
        <div class="container d-flex justify-content-center">
            <label class="btn popins-20-blue btn-blue-mborder">Fin del proceso</label>
        </div>
    </div>

    <div class="main-content d-flex justify-content-center">

        <div class="container">
        {% if userLevel.code == 'EASY' %}
            {% include asset('case/endGame/showEasyEndGame.html.twig') %}
        {% elseif userLevel.code == 'MEDIUM' %}
            {% include asset('case/endGame/showMediumEndGame.html.twig') %}
        {% elseif userLevel.code == 'HARD' %}
            {% include asset('case/endGame/showHardEndGame.html.twig') %}
        {% endif %}
        </div>
    </div>
{% endblock body %}