{% extends 'base.html.twig' %}

{% block title %}
    Pruebas de sensibilidad
{% endblock title %}

{% block body %}

    <div class="header">
        <div class="container d-flex justify-content-center">
            <label class="btn popins-20-blue btn-blue-mborder">Pruebas de Sensibilidad</label>
        </div>
    </div>
    <div class="main-content d-flex align-items-center">


        <div class="container">

            <div class="container mb-5">
                <p class="popins-20-blue">
                    {{ detail }}
                </p>
            </div>
            <!-- Tabla de dientes -->
            <table class="table table-striped">
                <thead class="popins-20-white">
                <tr class = "bg-primary">
                    <th scope="col">Prueba</th>

                    {% for dtooth in domainTeethArray if dtooth.referred %}
                        <th scope="col">Diente {{ dtooth.toothNumber }}</th>
                    {% endfor %}

                    {% for dtooth in domainTeethArray if not dtooth.referred %}
                        <th scope="col">Controles</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="center popins-14-blue">

                <tr>
                    <td>Frio</td>
                    {% for dtooth in domainTeethArray if dtooth.referred %}
                        <td>{{ dtooth.coldResult }}</td>
                    {% endfor %}

                    {% for dtooth in domainTeethArray if not dtooth.referred %}
                        <td>{{ dtooth.coldResult }}</td>
                    {% endfor %}

                </tr>

                <tr>
                    <td>Calor</td>
                    {% for dtooth in domainTeethArray if dtooth.referred %}
                        <td>{{ dtooth.heatResult }}</td>
                    {% endfor %}

                    {% for dtooth in domainTeethArray if not dtooth.referred %}
                        <td>{{ dtooth.heatResult }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td>Eléctrica</td>
                    {% for dtooth in domainTeethArray if dtooth.referred %}
                        <td>{{ dtooth.electricResult }}</td>
                    {% endfor %}

                    {% for dtooth in domainTeethArray if not dtooth.referred %}
                        <td>{{ dtooth.electricResult }}</td>
                    {% endfor %}
                </tr>

                </tbody>
            </table>
            <!-- Tabla de dientes -->
        </div>
    </div>

    <footer class="footer">
        <!-- Link de regreso a pre clinical tests -->
        <div class="btm-left-corner">
            <a href="{{ path('AppBundle_show_road',{'idcase':idCase,'code':'PRECLTESTS'}) }}">
                <p class="popins-20-green">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="ml-4">Regresar</span>
                </p>
            </a>
        </div>
        <!-- / Link de regreso a pre clinical tests -->

        <!-- Link de análisis -->
        <div class="container">
            <!--<a href="{{ path('AppBundle_show_rubric',{'rubric':'CLTESTS','idCase':idCase}) }}">-->
            <button class="dev_analysis btn-no-border popins-20-green btm-right-corner">
                <p class="popins-20-green">
                    <span class="mr-4">Realizar análisis</span>
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                </p>
            </button>
            <!--</a>-->
        </div>
        <!-- / Link de análisis -->
    </footer>

{% endblock body %}

{% block javascripts %}

    {{ parent() }}

    {% include asset('utils/generalUtils.html.twig') %}

    <script type="text/javascript">
        $(".dev_analysis").on("click",function(){
            showPreAnalysisSwal("CLTESTS");
        });
    </script>

{% endblock javascripts %}