{% extends 'base.html.twig' %}

{% block title %}
    Realizar Diagnóstico
{% endblock title %}

{% block body %}
    <div class="container">

        <!-- Diagnósticos -->
        <div class="row m-5">
            <div class="col center">
                <p class="popins-20-blue">
                    ¿Cuál es tu diagnóstico periapical?
                </p>
                <input type="text" class="dev_dperiapical btn-blue-mborder popins-20-blue center"/>
                <div class="m-3">
                    <img class="check_periapical" style="visibility: hidden" src="{{ asset('images/checked.png') }}">
                    <img class="cross_periapical" style="visibility: hidden" src="{{ asset('images/cancel.png') }}">
                </div>
            </div>
            <div class="col center">
                <p class="popins-20-blue">
                    ¿Cuál es tu diagnóstico pulpar?
                </p>
                <input type="text" class="dev_dpulpar btn-blue-mborder popins-20-blue center"/>
                <div class="m-3">
                    <img class="check_pulpar" style="visibility: hidden" src="{{ asset('images/checked.png') }}">
                    <img class="cross_pulpar" style="visibility: hidden" src="{{ asset('images/cancel.png') }}">
                </div>
            </div>
        </div>
        <!-- / Diagnósticos -->

        <div class="container center">
            <button class="dev_verif btn-green-m btn popins-20-white">
                    Verificar
            </button>
        </div>

    </div>


{% endblock body %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            var failCount = 0;
            var maxFailCount = 3;
            $(".dev_verif").on('click',function(){
                var inputPeriapical = document.querySelector(".dev_dperiapical").value;
                var inputPulpar = document.querySelector(".dev_dpulpar").value;
                var idCase = "{{ idCase }}";
                //console.log(inputPeriapical);
                //console.log(inputPulpar);
                //console.log(idCase);

                var url = "{{ path('AppBundle_verify_diagnosis') }}";


                $.ajax({
                    url: url,
                    method: 'GET',
                    data:{"periapical": inputPeriapical,"pulpar":inputPulpar,'idcase':idCase},
                    dataType: 'json',
                    success: function (result) {
                        //console.log(result);
                        if(result.periapical == true){
                            document.querySelector(".check_periapical").style.visibility = "visible";
                            document.querySelector(".cross_periapical").style.visibility = "hidden";
                        }else if(result.periapical == false){
                            document.querySelector(".cross_periapical").style.visibility = "visible";
                            document.querySelector(".check_periapical").style.visibility = "hidden";
                        }

                        if(result.pulpar == true){
                            document.querySelector(".check_pulpar").style.visibility = "visible";
                            document.querySelector(".cross_pulpar").style.visibility = "hidden";
                        }else if(result.pulpar == false){
                            document.querySelector(".cross_pulpar").style.visibility = "visible";
                            document.querySelector(".check_pulpar").style.visibility = "hidden";
                        }
                        if(result.pulpar == true && result.periapical == true){
                            swal({
                                title: 'Felicidad es no tener que volverlo a intentar!!',
                                text: 'Acertaste en el diagnóstico!!.',
                                timer: 4000,
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                onOpen: function () {
                                    swal.showLoading()
                                }
                            }).then(
                                function () {},
                                // handling the promise rejection
                                function (dismiss) {
                                    if (dismiss === 'timer') {
                                        console.log('I was closed by the timer');
                                        window.location.replace("{{ url('AppBundle_calculate_student_level',{'approve':true}) }}");
                                    }
                                }
                            )
                        }else{
                            failCount++;
                            if(failCount == maxFailCount){
                                swal({
                                    title: 'Excediste el numero de intentos',
                                    text: 'Intenta con el siguiente.',
                                    timer: 4000,
                                    allowOutsideClick: false,
                                    allowEscapeKey: false,
                                    onOpen: function () {
                                        swal.showLoading()
                                    }
                                }).then(
                                    function () {},
                                    // handling the promise rejection
                                    function (dismiss) {
                                        if (dismiss === 'timer') {
                                            console.log('I was closed by the timer');
                                            window.location.replace("{{ url('AppBundle_calculate_student_level',{'approve':false}) }}");
                                        }
                                    }
                                )
                            }
                        }


                        //$(".dev_mensaje").html("Se Congeló el usuario");


                    },
                    error: function (xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        console.log(status);
                        console.log(error);
                        alert(err.Message);

                    },
                    complete: function(xhr,status){
                        console.log(status);
                        //$(".dev_congelar").fadeOut('slow');
                    }
                });


            });


        });


    </script>







{% endblock javascripts %}