{% extends 'base.html.twig' %}

{% block title %}
    Show case
{% endblock title %}

{% block body %}

    <div class="header">
    </div>


    <div class="main-content d-flex align-items-center">
        <div class="row">
            <div class="col-5 d-flex align-items-center">
                <div>
                    <!-- Sección de motivo de consulta e historia de la enfermedad -->
                    <div class="container">
                        <h2>Motivo de consulta</h2>
                        <h2>e historia de la enfermedad actual</h2>
                    </div>

                    <div class="container mt-5">
                        <p class="popins-20-blue text-justify">
                            {{ patientCase.illnessHistory }}
                        </p>
                    </div>
                    <!-- / Sección de motivo de consulta e historia de la enfermedad -->
                    </div>
            </div>

            <div class="col d-flex align-items-center">
                <!-- Sección de analisis de rutas -->
                <div class="container center mt-5">
                    <div class="container">
                        <label class="popins-20-blue btn-blue-sm">Analizar</label>
                    </div>
                    <div class="container">
                        <div class="row m-4">
                            <div class="col m-2">
                                <a class="btn btn-green-m popins-20-white road" href="{{ path('AppBundle_show_road',{'idcase':idCase,'code':'PAIN'}) }}">Dolor</a>
                            </div>

                            <div class="col m-2">
                                <a class="btn btn-green-m popins-20-white" href="{{ path('AppBundle_show_road',{'idcase':idCase,'code':'PRECLREVIEW'}) }}">Examen Clínico</a>
                            </div>

                        </div>

                        <div class="row m-4">
                            <div class="col m-2">
                                <a class="btn btn-green-m popins-20-white" href="{{ path('AppBundle_show_road',{'idcase':idCase,'code':'PRECLTESTS'}) }}">Pruebas Clínicas</a>
                            </div>

                            <div class="col m-2">
                                <a class="btn btn-green-m popins-20-white" href="{{ path('AppBundle_show_road',{'idcase':idCase,'code':'XRAY'}) }}">Radiografías</a>
                            </div>

                        </div>

                        <div class="row m-4">
                            <div class="col m-2 popins-20-white">
                                <a class="dev_analysis btn btn-green-m popins-20-white">Diagnóstico</a>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- / Sección de analisis de rutas -->
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% include asset('utils/generalUtils.html.twig') %}

    <script type="text/javascript">
        $(".dev_analysis").on("click",function(){
            showPreAnalysisSwal("DIAG");
        });
    </script>

{% endblock javascripts %}