{% extends 'base.html.twig' %}

{% block title %}
    Análisis de dolor
{% endblock title %}

{% block body %}

    <div class="header">
        <div class="container d-flex justify-content-center mt-5">
            <label class="btn popins-20-blue btn-blue-mborder">Análisis de dolor</label>
        </div>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col d-flex align-items-center">
                <div class ="container">
                    <!-- Sección de preguntas-->
                    <div class = "container">
                        <label class="popins-20-blue btn-blue-mborder center">Qué deseas preguntar:</label>
                    </div>

                    <div>
                    {% for question in questions %}
                        <div class="container mt-5">
                            <button class="dev_question btn btn-green-l popins-20-white" data-idquestion = "{{ question.id }}">{{ question.detail }}</button>
                        </div>
                    {% endfor %}
                    </div>

                    <!-- / Sección de preguntas -->
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="container">
                    <!-- Sección de respuesta -->
                    <div class="container dev_img center mb-4">

                    </div>

                    <div class="container">
                        <p class = "dev_answer container text-justify popins-20-blue">

                        </p>
                    </div>
                    <!-- / Sección de respuesta-->
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <!-- Link de análisis -->
        <div class="container">
            <!--<a href="{{ path('AppBundle_show_rubric',{'rubric':'PAIN','idCase':idCase}) }}">-->
            <button class="dev_analysis btn-no-border popins-20-green btm-right-corner">
                <p class="popins-20-green">
                    <span class="mr-4">Realizar análisis</span>
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                </p>
            </button>
            <!--</a>-->
        </div>
        <!-- / Link de análisis -->
    </footer>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% include asset('utils/generalUtils.html.twig') %}

    <script type="text/javascript">


        $(document).ready(function(){
            $(".dev_analysis").on("click",function(){
                showPreAnalysisSwal("PAIN");
            });

            $(".dev_question").on("click",function(){
                var url = "{{ path('AppBundle_get_question_answer') }}";
                var idCase = {{ idCase }};
                var idQuestion = this.getAttribute("data-idquestion");

                $.ajax({
                    url: url,
                    method: 'GET',
                    data:{"idCase": idCase,"idQuestion":idQuestion},
                    dataType: 'json',
                    success: function (result) {
                        //console.log(result);
                        if(result == false){
                            swal({
                                title: "Ooops!",
                                text: "No tenemos respuesta en esta pregunta",
                                type: "error",
                            });
                        }
                        else{
                            $(".dev_answer").html(result.detail);

                        }

                    },
                    error: function (xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        console.log(status);
                        console.log(error);
                        alert(err.Message);

                    },
                    complete: function(xhr,status){
                        console.log(status);
                        //$(".dev_congelar").fadeOut('slow');
                    }
                });
            });
        });


    </script>
{% endblock javascripts %}

