{% extends 'base.html.twig' %}

{% block title %}
    Análisis Radiográfico
{% endblock title %}

{% block body %}

    <div class="header">
        <div class="container d-flex justify-content-center">
            <label class="btn popins-20-blue btn-blue-mborder">Examen radiográfico</label>
        </div>
    </div>
    <div class="main-content">

        <div class="container d-flex justify-content-center">
            <p class="popins-20-blue">
                Por cada una de las opciones elige "Si"  <span class="far fa-check-circle"></span> o "No" <span class="far fa-times-circle"></span> dependiendo la imagen.
            </p>
        </div>

        <div class="container">

            <div class="row div-600">
                <!-- Imagenes de radiografias -->

                {% if images is defined %}
                    <!-- Imagenes del examen clínico -->
                    <div class="col d-flex align-items-center">
                        <!-- Slider -->
                        <div id="carouselImagesControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                {% for i in 0..images|length-1 %}
                                    <div class="carousel-item {% if i == 0 %} active {% endif %}">
                                        <div class="container">
                                            <img class="d-block img-fluid case-img-m" src="{{ asset('uploads/imgs/') }}{{ images[i] }}">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselImagesControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon fas fa-arrow-circle-left fa-2x" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselImagesControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon fas fa-arrow-circle-right fa-2x" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!-- / Slider -->
                    </div>
                    <!-- Imagenes del examen clínico -->
                {% endif %}

                <!-- / Imagenes de radiografias -->

                <!-- Secciones de estructuras dentales -->
                <div class="col mt-4">
                    <!-- Slider -->
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                        </ol>

                        <!-- Carrusel -->
                        <div class="carousel-inner" role="listbox">

                            <!-- Primera estructura dental -->
                            <div class="carousel-item active">
                                <div class="container div-700">
                                    <div  class="row">
                                        <div class="col-7">
                                            <p class="popins-20-blue">
                                                Corona Cliínica
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="popins-20-blue">
                                                Si
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="popins-20-blue">
                                                No
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        {% for question in CCLINICA %}
                                            <div class="row">
                                                <div class="col-7">
                                                    <p class="popins-14-blue">
                                                        {{ question.detail }}
                                                    </p>
                                                </div>
                                                <div class="col-2">
                                                    <span class="far fa-check-circle fa-2x dev_question" data-idquestion="{{ question.id }}" data-answer = "si" aria-hidden="true"></span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="far fa-times-circle fa-2x dev_question" data-idquestion="{{ question.id }}" data-answer = "no" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <!-- / Primera estructura dental -->

                            <!-- Segunda estructura dental -->
                            <div class="carousel-item">
                                <div class="container div-700">
                                    <p class="popins-20-blue">
                                        Raíz (ces)
                                    </p>
                                    <div class="container">
                                        {% for question in RAIZ %}
                                            <div class="row">
                                                <div class="col-7">
                                                    <p class="popins-14-blue">
                                                        {{ question.detail }}
                                                    </p>
                                                </div>
                                                <div class="col-2">
                                                    <span class="far fa-check-circle fa-2x dev_question" data-idquestion="{{ question.id }}" data-answer = "si" aria-hidden="true"></span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="far fa-times-circle fa-2x dev_question" data-idquestion="{{ question.id }}" data-answer = "no" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- / Segunda estructura dental -->

                            <!-- Tercera estructura dental -->
                            <div class="carousel-item">
                                <div class="container div-700">
                                    <p class="popins-20-blue">
                                        Tejidos de soporte
                                    </p>
                                    <div class="container">
                                        {% for question in TSOPORTE %}
                                            <div class="row">
                                                <div class="col-7">
                                                    <p class="popins-14-blue">
                                                        {{ question.detail }}
                                                    </p>
                                                </div>
                                                <div class="col-2">
                                                    <span class="far fa-check-circle fa-2x dev_question" data-idquestion="{{ question.id }}" data-answer = "si" aria-hidden="true"></span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="far fa-times-circle fa-2x dev_question" data-idquestion="{{ question.id }}" data-answer = "no" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <!-- / Tercera estructura dental -->

                        </div>
                        <!-- / Carrousel -->

                        <!-- Controles de carrusel -->
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon fas fa-arrow-circle-left fa-2x" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon fas fa-arrow-circle-right fa-2x" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!-- / Controles de carrusel -->

                    </div>
                    <!-- / Slider -->
                </div>
                <!-- / Secciones de estructuras dentales -->

            </div>

        </div>
    </div>
    <footer class="footer">
        <!-- Link de análisis -->
        <div class="container">
            <!--<a href="{{ path('AppBundle_show_rubric',{'rubric':'XRAY','idCase':idCase}) }}">-->
            <button class="dev_analysis btn-no-border popins-20-green btm-right-corner">
                <p class="popins-20-green">
                    <span class="mr-4">Realizar análisis</span>
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                </p>
            </button>
            <!--</a>-->
        </div>
        <!-- / Link de análisis -->
    </footer>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% include asset('utils/generalUtils.html.twig') %}

    <script type="text/javascript">
        //---------- NO AUTOSCROLL ON CAROUSEL ----------
        $(".carousel").carousel({
            interval:false
        });
        //---------- / NO AUTOSCROLL ON CAROUSEL ----------

        $(document).ready(function(){
            $(".dev_analysis").on("click",function(){
                showPreAnalysisSwal("XRAY");
            });

            $(".dev_question").on("click",function(){
                var url = "{{ path('AppBundle_get_question_answer') }}";
                var idCase = {{ idCase }};
                var idQuestion = this.getAttribute("data-idquestion");
                var selectedAnswer = this.getAttribute("data-answer");

                $.ajax({
                    url: url,
                    method: 'GET',
                    data:{"idCase": idCase,"idQuestion":idQuestion},
                    dataType: 'json',
                    success: function (result) {
                        //console.log(result);
                        if(result == false){
                            swal({
                                title: "Ooops!",
                                text: "Esta no sabemos",
                                type: "error",
                            });
                        }
                        else{
                            if(result.detail == selectedAnswer ){
                                swal({
                                    title: "Muy Bien!",
                                    text: result.detail,
                                    type: "success",
                                });
                            }else{
                                swal({
                                    title: "Ooops!",
                                    text: "¿Éstas seguro?",
                                    type: "error",
                                });
                            }

                        }
                        //$(".dev_mensaje").html("Se Congeló el usuario");


                    },
                    error: function (xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        console.log(status);
                        console.log(error);
                        alert(err.Message);

                    },
                    complete: function(xhr,status){
                        console.log(status);
                        //$(".dev_congelar").fadeOut('slow');
                    }
                });
            });
        });
    </script>
{% endblock javascripts %}