<div class="container center">
    <div class="container popins-20-blue">
        <label>¿Cuántas imagenes vas ha subir?</label>
    </div>
    <div class="container popins-14-blue">
        <input type="number" class="inpt-bttm-border width-40 center dev_images_{{ road }}" min="1">
    </div>
    <div class="container mt-5">
        <button class="btn btn-green-m width-9-em popins-20-white dev_preimages" data-road="{{ road }}">Continúa!</button>
    </div>
</div>


