{% for i in 0..teethQuantity %}
    <div class="row m-2">
        <div class="col">
            <div class="container">
                <label class="popins-20-blue"> Selecciona la imagen que vas ha subir</label>
            </div>
            <div class="container mt-2">
                <input type="file" class="dev_file_{{ road }}">
            </div>
        </div>

        <div class="col">
            <div class="container dev_showimg_{{ road }}{{ i }}">

            </div>
        </div>

    </div>
{% endfor %}
<div class="container d-flex justify-content-end">
    <button class="btn btn-primary dev_submit_images" data-road="{{ road }}"> Subir imagenes</button>
</div>

<script type="text/javascript">
    $(".dev_submit_images").on("click",function(){
        var road = this.getAttribute("data-road");
        var fileInputs = $(".dev_file_"+road);
        for(var i =  0; i < fileInputs.length ; i++){
            ajaxSubmitImages(fileInputs[i],i,road);
        }

    });

    function ajaxSubmitImages(fileinput,i,road){
        var file = fileinput["files"][0];
        var url = "{{ path('AppBundle_admin_show_upload_images') }}";
        var formData = new FormData();
        formData.append("files",file);
        $.ajax({
            url: url,
            method: 'post',
            data: formData,
            contentType: false,
            processData: false,
            dataType:"json",
            success: function (result) {

                var imgName = result.Response;

                $(".dev_showimg_"+road+i).html("<img src='{{ asset('uploads/imgs/') }}" + imgName +"' class='width-20-em' >");

                ajaxUploadImageToDataBase(imgName, globalIdPatientCase, road);

            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                console.log(status);
                console.log(error);
                swal({'title': 'Oooops!',
                    'text': err.message,
                    'type': 'error'});

            },
            complete: function(xhr,status){
                console.log(status);
                //$(".dev_congelar").fadeOut('slow');
            }
        });
    }

    function ajaxUploadImageToDataBase(imgName, idCase, roadCode){
        var url = "{{ path('AppBundle_admin_upload_images_database') }}";
        var jsonObject = new Object();
        jsonObject.imgName = imgName;
        jsonObject.idCase = idCase;
        jsonObject.roadCode = roadCode;
        var jsonString = JSON.stringify(jsonObject);
        $.ajax({
            url: url,
            method: 'POST',
            data:jsonString,
            dataType: 'json',
            success: function (result) {
                console.log(result);
                swalSavedAnswers();
            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                console.log(status);
                console.log(error);
                swal({'title': 'Oooops!',
                    'text': err.message,
                    'type': 'error'});

            },
            complete: function(xhr,status){
                //console.log(status);
                //$(".dev_congelar").fadeOut('slow');
            }
        });
    }
</script>